/*
Theme Name: Feestpaleis
*/
/* ========================= INIT ========================= */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ========================= GRID ========================= */
.container {
  margin: 0 auto;
  height: 100%;
  min-height: 100%;
  padding: 0 20px; }
  @media (min-width: 480px) {
    .container {
      padding: 0;
      width: 90%; } }
  .old-ie .container {
    padding: 0;
    width: 90%; }
  @media (min-width: 768px) {
    .container {
      width: 728px; } }
  .old-ie .container {
    width: 728px; }
  @media (min-width: 1024px) {
    .container {
      width: 960px; } }
  .old-ie .container {
    width: 960px; }
  @media (min-width: 1280px) {
    .container {
      width: 1154px; } }
  .old-ie .container {
    width: 1154px; }

.container-padding {
  padding: 20px; }
  @media (min-width: 768px) {
    .container-padding {
      padding: 30px 0; } }
  .old-ie .container-padding {
    padding: 30px 0; }
  @media (min-width: 1280px) {
    .container-padding {
      padding: 50px 0; } }
  .old-ie .container-padding {
    padding: 50px 0; }

.container-padding-top {
  padding: 20px 20px 0; }
  @media (min-width: 480px) {
    .container-padding-top {
      padding: 20px 0 0; } }
  .old-ie .container-padding-top {
    padding: 20px 0 0; }
  @media (min-width: 768px) {
    .container-padding-top {
      padding: 30px 0 0; } }
  .old-ie .container-padding-top {
    padding: 30px 0 0; }
  @media (min-width: 1280px) {
    .container-padding-top {
      padding: 50px 0 0; } }
  .old-ie .container-padding-top {
    padding: 50px 0 0; }

.one_full_column {
  background: #fff;
  padding: 10px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-radius: 3px 3px 3px 3px; }
  .one_full_column .one_column_inner {
    padding: 20px; }
    .one_full_column .one_column_inner img {
      width: auto;
      display: inline; }

@media (min-width: 768px) {
  .half_column,
  .half_column_last,
  .half_column_left,
  .half_column_right {
    width: 48%;
    float: left; } }
.old-ie .half_column, .old-ie
.half_column_last, .old-ie
.half_column_left, .old-ie
.half_column_right {
  width: 48%;
  float: left; }

.half_column_last,
.half_column_right {
  margin-top: 10px; }
  @media (min-width: 768px) {
    .half_column_last,
    .half_column_right {
      float: right;
      margin-top: 0; } }
  .old-ie .half_column_last, .old-ie
  .half_column_right {
    float: right;
    margin-top: 0; }

@media (min-width: 768px) {
  .one_fourth_left,
  .tree_fourth_right {
    float: left;
    width: 23%;
    margin-right: 4%; } }
.old-ie .one_fourth_left, .old-ie
.tree_fourth_right {
  float: left;
  width: 23%;
  margin-right: 4%; }

@media (min-width: 768px) {
  .three_fourth_right {
    float: right;
    width: 73%;
    margin-right: 0; } }
.old-ie .three_fourth_right {
  float: right;
  width: 73%;
  margin-right: 0; }

@media (min-width: 768px) {
  .one_fourth_right,
  .tree_fourth_left {
    float: right;
    width: 23%;
    margin-right: 0%; } }
.old-ie .one_fourth_right, .old-ie
.tree_fourth_left {
  float: right;
  width: 23%;
  margin-right: 0%; }

@media (min-width: 768px) {
  .three_fourth_left {
    float: left;
    width: 73%;
    margin-right: 4%; } }
.old-ie .three_fourth_left {
  float: left;
  width: 73%;
  margin-right: 4%; }

.blocky {
  padding-bottom: 30px; }

/* ========================= TYPOGRAPHY ========================= */
.subtile {
  font-size: 16px;
  color: #a5a5a5;
  font-style: italic; }

/* ========================= GLOBAL ========================= */
.clearfix, .container, .row, .blocky, .header, .footer .social .instagram, .footer .social .twitter .tweets ul li, .footer .newsletter .newsletter-optin, .footer .newsletter .newsletter-optin form, .footer .foot, .footer .foot .foot-note, .reservations-content .reservations-container .reservations-container-inner ul.form-list li,
.reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list li, .form-wrappy {
  zoom: 1; }
  .clearfix:before, .container:before, .row:before, .blocky:before, .header:before, .footer .social .instagram:before, .footer .social .twitter .tweets ul li:before, .footer .newsletter .newsletter-optin:before, .footer .newsletter .newsletter-optin form:before, .footer .foot:before, .footer .foot .foot-note:before, .reservations-content .reservations-container .reservations-container-inner ul.form-list li:before,
  .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list li:before, .form-wrappy:before, .clearfix:after, .container:after, .row:after, .blocky:after, .header:after, .footer .social .instagram:after, .footer .social .twitter .tweets ul li:after, .footer .newsletter .newsletter-optin:after, .footer .newsletter .newsletter-optin form:after, .footer .foot:after, .footer .foot .foot-note:after, .reservations-content .reservations-container .reservations-container-inner ul.form-list li:after,
  .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list li:after, .form-wrappy:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after, .container:after, .row:after, .blocky:after, .header:after, .footer .social .instagram:after, .footer .social .twitter .tweets ul li:after, .footer .newsletter .newsletter-optin:after, .footer .newsletter .newsletter-optin form:after, .footer .foot:after, .footer .foot .foot-note:after, .reservations-content .reservations-container .reservations-container-inner ul.form-list li:after,
  .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list li:after, .form-wrappy:after {
    clear: both; }

.hideme {
  display: none; }

.btn, #drinks_menu .drinks_menu_title {
  background: #1e1e1e;
  padding: 10px 15px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-radius: 3px 3px 3px 3px;
  border: 3px solid transparent; }
  .btn:hover, #drinks_menu .drinks_menu_title:hover {
    border-color: #1e1e1e;
    background: #fff;
    color: #1e1e1e; }

.btn-black {
  background: #000; }

.btn-no-border {
  border: 0;
  padding: 18px; }
  .btn-no-border:hover {
    border: none; }

.btn-wide, #drinks_menu .drinks_menu_title {
  clear: both;
  display: block;
  width: 100%; }
  .btn-wide:hover, #drinks_menu .drinks_menu_title:hover {
    background: #3e3e3e;
    border-color: #3e3e3e;
    color: #fff; }

.no-resp {
  width: auto;
  max-width: auto;
  height: auto; }

.reset-list, ul.main-gallery-grid-full, ul.side-gallery-grid-full, .header .sitenav-resp ul.sitenav-resp-list, .footer .social .twitter .tweets ul, .main-social .social-media, .event-full .event-full-meta .event-full-meta-head .event-full-meta-right ul.event-info-icons, ul.gallery-grid, ul.grid-gallery-media, .reservations-content .reservations-container .reservations-container-inner ul.form-list,
.reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list, .reservations-content .reservations-container .reservations-container-inner .reservations-options ul.reservations1-options-list,
.reservations-content .reservations-container-no_margin_top .reservations-container-inner .reservations-options ul.reservations1-options-list, .reservations-content .reservations-container .reservations-container-inner .reservations-options ul.reservations2-options-list,
.reservations-content .reservations-container .reservations-container-inner .reservations-options ul.reservations3-options-list,
.reservations-content .reservations-container-no_margin_top .reservations-container-inner .reservations-options ul.reservations2-options-list,
.reservations-content .reservations-container-no_margin_top .reservations-container-inner .reservations-options ul.reservations3-options-list, .venue-content ul.venue-list {
  list-style: none;
  margin: 0;
  padding: 0; }
  .reset-list li, ul.main-gallery-grid-full li, ul.side-gallery-grid-full li, .header .sitenav-resp ul.sitenav-resp-list li, .footer .social .twitter .tweets ul li, .main-social .social-media li, .event-full .event-full-meta .event-full-meta-head .event-full-meta-right ul.event-info-icons li, ul.gallery-grid li, ul.grid-gallery-media li, .reservations-content .reservations-container .reservations-container-inner ul.form-list li,
  .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list li, .reservations-content .reservations-container .reservations-container-inner .reservations-options ul.reservations1-options-list li,
  .reservations-content .reservations-container-no_margin_top .reservations-container-inner .reservations-options ul.reservations1-options-list li, .reservations-content .reservations-container .reservations-container-inner .reservations-options ul.reservations2-options-list li,
  .reservations-content .reservations-container .reservations-container-inner .reservations-options ul.reservations3-options-list li,
  .reservations-content .reservations-container-no_margin_top .reservations-container-inner .reservations-options ul.reservations2-options-list li,
  .reservations-content .reservations-container-no_margin_top .reservations-container-inner .reservations-options ul.reservations3-options-list li, .venue-content ul.venue-list li {
    margin: 0;
    padding: 0; }

.wrappy-white {
  background: #fff; }

.color-main {
  color: #d5004b !important; }

.ilfp, body.term-i-love-feestpaleis .concept-branding {
  color: #fff !important;
  background: #459de1 !important;
  /* Old browsers */
  background: -moz-linear-gradient(left, #459de1 0%, #245dae 100%) !important;
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #459de1), color-stop(100%, #245dae)) !important;
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #459de1 0%, #245dae 100%) !important;
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #459de1 0%, #245dae 100%) !important;
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #459de1 0%, #245dae 100%) !important;
  /* IE10+ */
  background: linear-gradient(to right, #459de1 0%, #245dae 100%) !important;
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#459de1', endColorstr='#245dae',GradientType=1 ) !important;
  /* IE6-9 */ }

.ls, body.term-lovely-sundays .concept-branding {
  color: #fff !important;
  background: #e36400;
  /* Old browsers */
  background: -moz-linear-gradient(left, #e36400 0%, #c83e09 100%) !important;
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #e36400), color-stop(100%, #c83e09)) !important;
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #e36400 0%, #c83e09 100%) !important;
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #e36400 0%, #c83e09 100%) !important;
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #e36400 0%, #c83e09 100%) !important;
  /* IE10+ */
  background: linear-gradient(to right, #e36400 0%, #c83e09 100%) !important;
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e36400', endColorstr='#c83e09',GradientType=1 ) !important;
  /* IE6-9 */ }

.aw, body.term-after-work .concept-branding {
  color: #fff !important;
  background: #8cd400;
  /* Old browsers */
  background: -moz-linear-gradient(left, #8cd400 0%, #69c100 100%) !important;
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #8cd400), color-stop(100%, #69c100)) !important;
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #8cd400 0%, #69c100 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #8cd400 0%, #69c100 100%) !important;
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #8cd400 0%, #69c100 100%) !important;
  /* IE10+ */
  background: linear-gradient(to right, #8cd400 0%, #69c100 100%) !important;
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cd400', endColorstr='#69c100',GradientType=1 ) !important;
  /* IE6-9 */ }

.l3, body.term-level-3 .concept-branding {
  color: #fff !important;
  background: #db005e;
  /* Old browsers */
  background: -moz-linear-gradient(left, #db005e 0%, #ca003b 100%) !important;
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #db005e), color-stop(100%, #ca003b)) !important;
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #db005e 0%, #ca003b 100%) !important;
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #db005e 0%, #ca003b 100%) !important;
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #db005e 0%, #ca003b 100%) !important;
  /* IE10+ */
  background: linear-gradient(to right, #db005e 0%, #ca003b 100%) !important;
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#db005e', endColorstr='#ca003b',GradientType=1 ) !important;
  /* IE6-9 */ }

ul.main-gallery-grid-full li {
  width: 33.333%;
  height: 95px;
  float: left;
  overflow: hidden; }
  @media (min-width: 480px) {
    ul.main-gallery-grid-full li {
      width: 25%; } }
  .old-ie ul.main-gallery-grid-full li {
    width: 25%; }
  @media (min-width: 768px) {
    ul.main-gallery-grid-full li {
      height: 185px; } }
  .old-ie ul.main-gallery-grid-full li {
    height: 185px; }
  @media (min-width: 1024px) {
    ul.main-gallery-grid-full li {
      width: 12.5%;
      height: 120px; } }
  .old-ie ul.main-gallery-grid-full li {
    width: 12.5%;
    height: 120px; }
  @media (min-width: 1280px) {
    ul.main-gallery-grid-full li {
      height: 145px; } }
  .old-ie ul.main-gallery-grid-full li {
    height: 145px; }
  ul.main-gallery-grid-full li:last-of-type {
    display: none; }
    @media (min-width: 480px) {
      ul.main-gallery-grid-full li:last-of-type {
        display: block; } }
    .old-ie ul.main-gallery-grid-full li:last-of-type {
      display: block; }
  ul.main-gallery-grid-full li a img {
    width: 105%;
    max-width: 105%; }

ul.side-gallery-grid-full li {
  width: 33.333%;
  height: 95px;
  float: left;
  overflow: hidden; }
  ul.side-gallery-grid-full li:nth-last-of-type(3), ul.side-gallery-grid-full li:nth-last-of-type(2), ul.side-gallery-grid-full li:last-of-type {
    display: none !important; }
  @media (min-width: 480px) {
    ul.side-gallery-grid-full li {
      width: 25%; }
      ul.side-gallery-grid-full li:nth-last-of-type(3), ul.side-gallery-grid-full li:nth-last-of-type(2), ul.side-gallery-grid-full li:last-of-type {
        display: block !important; } }
  .old-ie ul.side-gallery-grid-full li {
    width: 25%; }
    .old-ie ul.side-gallery-grid-full li:nth-last-of-type(3), .old-ie ul.side-gallery-grid-full li:nth-last-of-type(2), .old-ie ul.side-gallery-grid-full li:last-of-type {
      display: block !important; }
  @media (min-width: 768px) {
    ul.side-gallery-grid-full li {
      height: 87px; } }
  .old-ie ul.side-gallery-grid-full li {
    height: 87px; }
  @media (min-width: 1024px) {
    ul.side-gallery-grid-full li {
      width: 20%;
      height: 92px; }
      ul.side-gallery-grid-full li:nth-last-of-type(2), ul.side-gallery-grid-full li:last-of-type {
        display: none !important; } }
  .old-ie ul.side-gallery-grid-full li {
    width: 20%;
    height: 92px; }
    .old-ie ul.side-gallery-grid-full li:nth-last-of-type(2), .old-ie ul.side-gallery-grid-full li:last-of-type {
      display: none !important; }
  @media (min-width: 1280px) {
    ul.side-gallery-grid-full li {
      height: 110px;
      width: 110px; } }
  .old-ie ul.side-gallery-grid-full li {
    height: 110px;
    width: 110px; }
  ul.side-gallery-grid-full li:last-of-type {
    display: none; }
    @media (min-width: 480px) {
      ul.side-gallery-grid-full li:last-of-type {
        display: block; } }
    .old-ie ul.side-gallery-grid-full li:last-of-type {
      display: block; }
  ul.side-gallery-grid-full li a img {
    width: 105%;
    max-width: 105%; }

.fp-styled-form-element {
  width: 100%;
  display: block;
  border: 1px solid #a5a5a5;
  background: #fff;
  padding: 15px 20px;
  font-size: 13px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-radius: 3px 3px 3px 3px; }

.header {
  position: relative;
  background: #fff; }
  @media (min-width: 768px) {
    .header {
      width: 100%;
      top: 0;
      left: 0;
      z-index: 990; } }
  .old-ie .header {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 990; }
  @media (min-width: 1280px) {
    .header {
      position: fixed; } }
  .old-ie .header {
    position: fixed; }
  .header .container {
    position: relative; }
  .header .topnav {
    position: absolute;
    top: 0;
    right: 0;
    display: none; }
    @media (min-width: 768px) {
      .header .topnav {
        display: block; } }
    .old-ie .header .topnav {
      display: block; }
    .header .topnav a.member-area {
      position: relative;
      top: -4px;
      display: block;
      width: auto;
      padding: 10px;
      padding: 14px 10px 10px;
      background: #1e1e1e;
      color: #fff;
      text-transform: uppercase;
      -moz-border-radius: 0 0 5px 5px;
      -webkit-border-top-left-radius: 0;
      -webkit-border-top-right-radius: 0;
      -webkit-border-bottom-right-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
      border-radius: 0 0 5px 5px; }
      .header .topnav a.member-area:hover {
        transition: 0.5s;
        top: 0; }
  .header .logo {
    width: 150px;
    float: left;
    padding: 25px 0; }
    @media (min-width: 480px) {
      .header .logo {
        width: 200px; } }
    .old-ie .header .logo {
      width: 200px; }
  .header .sitenav {
    position: absolute;
    display: block;
    text-align: center;
    bottom: 0;
    right: 0;
    width: 100%;
    display: none; }
    @media (min-width: 768px) {
      .header .sitenav {
        display: block; } }
    .old-ie .header .sitenav {
      display: block; }
    .header .sitenav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: auto;
      float: right; }
      .header .sitenav ul li {
        list-style: none;
        display: block;
        float: left;
        margin: 0 0 0 10px;
        padding: 0; }
        @media (min-width: 1024px) {
          .header .sitenav ul li {
            margin: 0 0 0 20px; } }
        .old-ie .header .sitenav ul li {
          margin: 0 0 0 20px; }
        .header .sitenav ul li a {
          display: block;
          float: left;
          padding: 0 5px 25px 5px;
          margin: 0;
          text-transform: uppercase;
          color: #1e1e1e;
          border-bottom: 5px solid #fff; }
          .header .sitenav ul li a:hover {
            border-bottom: 5px solid #d5004b; }
      .header .sitenav ul li.current-menu-item a,
      .header .sitenav ul li.current_page_item a {
        border-bottom: 5px solid #d5004b; }
  .header .sitenav-resp {
    background: #fff; }
    .header .sitenav-resp ul.sitenav-resp-list li {
      padding: 15px;
      border-bottom: 1px solid #f0f0f0; }
      .header .sitenav-resp ul.sitenav-resp-list li a {
        font-size: 18px;
        font-weight: 500; }
  .header .resp_nav_btn {
    position: absolute;
    top: 50%;
    right: 20px;
    width: 54px;
    height: 54px;
    margin-top: -27px; }
    @media (min-width: 480px) {
      .header .resp_nav_btn {
        right: 0; } }
    .old-ie .header .resp_nav_btn {
      right: 0; }
    @media (min-width: 768px) {
      .header .resp_nav_btn {
        display: none; } }
    .old-ie .header .resp_nav_btn {
      display: none; }
    .header .resp_nav_btn a {
      position: absolute !important;
      -moz-border-radius: 3px 3px 3px 3px;
      -webkit-border-top-left-radius: 3px;
      -webkit-border-top-right-radius: 3px;
      -webkit-border-bottom-right-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
      border-radius: 3px 3px 3px 3px;
      display: block;
      width: 54px;
      height: 54px;
      background: url(images/theme/resp_nav.png) center center no-repeat white; }

@media (min-width: 768px) {
  #menu-site-nav-1 {
    display: none; } }
.old-ie #menu-site-nav-1 {
  display: none; }

.footer {
  line-height: 22px; }
  .footer h3 {
    font-size: 38px;
    line-height: 38px;
    color: #1e1e1e;
    font-weight: 300;
    margin-bottom: 65px; }
    .footer h3:after {
      clear: both; }
    .footer h3 span.bold {
      color: #d5004b;
      font-weight: 700; }
  .footer .social .instagram {
    position: relative; }
    @media (min-width: 1024px) {
      .footer .social .instagram {
        float: left;
        width: 31%;
        margin-right: 3%; } }
    .old-ie .footer .social .instagram {
      float: left;
      width: 31%;
      margin-right: 3%; }
    .footer .social .instagram ul#instafeed {
      list-style: none;
      margin: 0;
      padding: 0; }
      .footer .social .instagram ul#instafeed li {
        width: 25%;
        float: left; }
    .footer .social .instagram .instagram-mask {
      position: absolute;
      z-index: 876;
      width: 92px;
      height: 34px;
      background: url(images/theme/instragramfeed_mask.png) no-repeat;
      top: 10px;
      right: 10px; }
      .footer .social .instagram .instagram-mask a {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 0; }
  .footer .social .twitter {
    position: relative;
    padding-top: 50px; }
    @media (min-width: 1024px) {
      .footer .social .twitter {
        float: left;
        width: 31%;
        padding-top: 0px;
        margin-right: 3%; } }
    .old-ie .footer .social .twitter {
      float: left;
      width: 31%;
      padding-top: 0px;
      margin-right: 3%; }
    .footer .social .twitter .twitter-mask {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 60px;
      background: url(images/theme/twitter-mask.png) bottom left repeat-x; }
    .footer .social .twitter .tweets ul li {
      margin-bottom: 10px; }
      .footer .social .twitter .tweets ul li:last-of-type {
        margin-bottom: 0; }
      .footer .social .twitter .tweets ul li:first-of-type .twittericon {
        background: url(images/theme/twitter-icon-first.jpg) top left no-repeat #f3f3f3; }
      .footer .social .twitter .tweets ul li .twittericon {
        display: block;
        float: left;
        background: url(images/theme/twitter-icon.jpg) top left no-repeat #f3f3f3;
        width: 100%; }
        .footer .social .twitter .tweets ul li .twittericon .twittermsg {
          display: block;
          float: right;
          width: 100%;
          padding: 25px 25px 25px 140px;
          font-size: 12px; }
  .footer .social .facebook {
    /* To fill the container and nothing else */
    position: relative;
    padding-top: 50px;
    overflow: hidden; }
    .footer .social .facebook #fb-root {
      display: none; }
    .footer .social .facebook .fb_iframe_widget, .footer .social .facebook .fb_iframe_widget span, .footer .social .facebook .fb_iframe_widget span iframe[style] {
      width: 100% !important; }
    @media (min-width: 1024px) {
      .footer .social .facebook {
        float: left;
        width: 31%;
        padding-top: 0px; } }
    .old-ie .footer .social .facebook {
      float: left;
      width: 31%;
      padding-top: 0px; }
  .footer .newsletter {
    padding: 60px 0;
    background: url(images/theme/newsletter_bg.jpg) center bottom repeat-x; }
    .footer .newsletter h3 {
      margin-bottom: 0; }
    .footer .newsletter .newsletter-optin form {
      padding-top: 50px; }
    .footer .newsletter .newsletter-optin input.big {
      font-size: 28px;
      font-weight: 300;
      padding: 20px; }
    .footer .newsletter .newsletter-optin input.email.big {
      width: 70%;
      float: left;
      background: #fff;
      border: 1px solid #ebebeb;
      color: #a5a5a5; }
      @media (min-width: 768px) {
        .footer .newsletter .newsletter-optin input.email.big {
          width: 85%; } }
      .old-ie .footer .newsletter .newsletter-optin input.email.big {
        width: 85%; }
    .footer .newsletter .newsletter-optin input.submit.big {
      width: 30%;
      float: right;
      background: #d5004b;
      color: #fff;
      border: 0; }
      @media (min-width: 768px) {
        .footer .newsletter .newsletter-optin input.submit.big {
          width: 15%; } }
      .old-ie .footer .newsletter .newsletter-optin input.submit.big {
        width: 15%; }
    .footer .newsletter .newsletter-optin .subtile {
      padding-top: 40px;
      display: block;
      text-align: center; }
  .footer .foot {
    background: transparent;
    color: #fff;
    text-align: center;
    padding-bottom: 40px; }
    @media (min-width: 480px) {
      .footer .foot {
        text-align: left;
        padding-bottom: 0; } }
    .old-ie .footer .foot {
      text-align: left;
      padding-bottom: 0; }
    .footer .foot a {
      color: #cacbd0; }
      .footer .foot a:hover {
        color: #fff; }
    .footer .foot h5 {
      color: #d5004b; }
    .footer .foot .foot-note {
      color: #cacbd0; }
      @media (min-width: 480px) {
        .footer .foot .foot-note {
          float: left;
          width: 70%; } }
      .old-ie .footer .foot .foot-note {
        float: left;
        width: 70%; }
      .footer .foot .foot-note .foot-contact {
        margin-top: 40px; }
        @media (min-width: 480px) {
          .footer .foot .foot-note .foot-contact {
            width: 65%;
            float: left;
            margin-top: 0; } }
        .old-ie .footer .foot .foot-note .foot-contact {
          width: 65%;
          float: left;
          margin-top: 0; }
        @media (min-width: 768px) {
          .footer .foot .foot-note .foot-contact {
            width: 40%;
            margin-right: 120px; } }
        .old-ie .footer .foot .foot-note .foot-contact {
          width: 40%;
          margin-right: 120px; }
        @media (min-width: 1024px) {
          .footer .foot .foot-note .foot-contact {
            width: 30%; } }
        .old-ie .footer .foot .foot-note .foot-contact {
          width: 30%; }
        .footer .foot .foot-note .foot-contact .foot-contacts span.fixed_w {
          display: inline-block;
          width: 20px; }
          @media (min-width: 768px) {
            .footer .foot .foot-note .foot-contact .foot-contacts span.fixed_w {
              width: 50px; } }
          .old-ie .footer .foot .foot-note .foot-contact .foot-contacts span.fixed_w {
            width: 50px; }
        .footer .foot .foot-note .foot-contact .foot-contacts p {
          margin: 0; }
      .footer .foot .foot-note .foot-nav {
        margin-top: 40px; }
        @media (min-width: 480px) {
          .footer .foot .foot-note .foot-nav {
            width: 30%;
            float: left;
            margin-top: 0; } }
        .old-ie .footer .foot .foot-note .foot-nav {
          width: 30%;
          float: left;
          margin-top: 0; }
        @media (min-width: 768px) {
          .footer .foot .foot-note .foot-nav {
            width: 30%; } }
        .old-ie .footer .foot .foot-note .foot-nav {
          width: 30%; }
        .footer .foot .foot-note .foot-nav ul {
          list-style: none;
          margin: 0;
          padding: 0; }
    .footer .foot .foot-logo {
      text-align: center;
      padding-top: 40px; }
      @media (min-width: 480px) {
        .footer .foot .foot-logo {
          float: right;
          text-align: right;
          width: 25%;
          padding-top: 0; } }
      .old-ie .footer .foot .foot-logo {
        float: right;
        text-align: right;
        width: 25%;
        padding-top: 0; }
      .footer .foot .foot-logo img {
        margin: 0 auto; }

.main-social {
  text-align: center; }
  .main-social .social-media {
    display: inline-block;
    margin: 0 auto;
    padding: 60px 0; }
    .main-social .social-media li {
      display: block;
      float: left;
      display: inline-block;
      margin: 0 7px; }
      .main-social .social-media li a {
        display: block;
        display: inline-block;
        position: relative;
        width: 40px;
        height: 40px;
        font-size: 0;
        overflow: hidden; }
    .main-social .social-media li.fb a {
      background: url(images/theme/sprite_social.png) top left no-repeat;
      background-position: 0 0; }
    .main-social .social-media li.fb span {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: url(images/theme/sprite_social.png) top left no-repeat;
      background-position: -45px 0; }
    .main-social .social-media li.tw a {
      background: url(images/theme/sprite_social.png) top left no-repeat;
      background-position: 0 -41px; }
    .main-social .social-media li.tw span {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: url(images/theme/sprite_social.png) top left no-repeat;
      background-position: -45px -41px; }
    .main-social .social-media li.yt a {
      background: url(images/theme/sprite_social.png) top left no-repeat;
      background-position: 0 -82px; }
    .main-social .social-media li.yt span {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: url(images/theme/sprite_social.png) top left no-repeat;
      background-position: -45px -82px; }
    .main-social .social-media li.ig a {
      background: url(images/theme/sprite_social.png) top left no-repeat;
      background-position: 0 -123px; }
    .main-social .social-media li.ig span {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: url(images/theme/sprite_social.png) top left no-repeat;
      background-position: -45px -123px; }

.main-gallery, .side-gallery {
  width: 100%; }
  .main-gallery .ngg-galleryoverview .ngg-gallery-thumbnail-box, .side-gallery .ngg-galleryoverview .ngg-gallery-thumbnail-box {
    margin: 0; }
    .main-gallery .ngg-galleryoverview .ngg-gallery-thumbnail-box img, .side-gallery .ngg-galleryoverview .ngg-gallery-thumbnail-box img {
      background: none;
      border: none;
      margin: 0;
      padding: 0;
      display: block; }
  .main-gallery ul.main-gallery-grid-full li, .main-gallery ul.side-gallery-grid-full li, .side-gallery ul.main-gallery-grid-full li, .side-gallery ul.side-gallery-grid-full li {
    position: relative; }
  .main-gallery ul.main-gallery-grid-full .main-gallery-overlay, .main-gallery ul.side-gallery-grid-full .main-gallery-overlay, .side-gallery ul.main-gallery-grid-full .main-gallery-overlay, .side-gallery ul.side-gallery-grid-full .main-gallery-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: url(images/theme/gallery_hover.png) center center no-repeat; }

.main-events {
  display: table;
  width: 100%;
  margin-top: 10px; }
  @media (min-width: 768px) {
    .main-events {
      margin-top: 0; } }
  .old-ie .main-events {
    margin-top: 0; }
  .main-events .main-event-row {
    width: 100%;
    display: table; }
  .main-events .main-event {
    position: relative;
    display: table;
    background: #fff;
    padding: 10px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-radius: 3px 3px 3px 3px;
    width: 100%;
    margin-bottom: 10px; }
    .main-events .main-event a.big-button {
      position: relative;
      display: table;
      width: 100%; }
      .main-events .main-event a.big-button h2 {
        color: #1e1e1e; }
    .main-events .main-event .main-event-date {
      display: table-cell;
      width: 40%;
      height: 100%;
      vertical-align: middle; }
      .main-events .main-event .main-event-date .main-event-day {
        text-align: center;
        background: #1e1e1e;
        border: 2px solid transparent;
        font-size: 28px;
        line-height: 32px;
        font-weight: 800;
        padding: 10px 0;
        -moz-border-radius: 3px 3px 3px 3px;
        -webkit-border-top-left-radius: 3px;
        -webkit-border-top-right-radius: 3px;
        -webkit-border-bottom-right-radius: 3px;
        -webkit-border-bottom-left-radius: 3px;
        border-radius: 3px 3px 3px 3px;
        color: #fff;
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        width: 50%;
        -webkit-transition: 0.2s ease-in-out all;
        -moz-transition: 0.2s ease-in-out all;
        -ms-transition: 0.2s ease-in-out all;
        -o-transition: 0.2s ease-in-out all;
        transition: 0.2s ease-in-out all; }
        @media (min-width: 768px) {
          .main-events .main-event .main-event-date .main-event-day {
            padding: 12px 0;
            font-size: 38px;
            line-height: 42px; } }
        .old-ie .main-events .main-event .main-event-date .main-event-day {
          padding: 12px 0;
          font-size: 38px;
          line-height: 42px; }
        @media (min-width: 1024px) {
          .main-events .main-event .main-event-date .main-event-day {
            font-size: 50px; } }
        .old-ie .main-events .main-event .main-event-date .main-event-day {
          font-size: 50px; }
      .main-events .main-event .main-event-date .main-event-date_wrapper {
        display: table-cell;
        width: 50%;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase; }
        .main-events .main-event .main-event-date .main-event-date_wrapper .main-event-month {
          display: table;
          font-size: 22px;
          line-height: 22px;
          font-weight: 700;
          text-align: center;
          vertical-align: middle;
          text-transform: uppercase;
          width: 100%; }
          @media (min-width: 1024px) {
            .main-events .main-event .main-event-date .main-event-date_wrapper .main-event-month {
              font-size: 32px; } }
          .old-ie .main-events .main-event .main-event-date .main-event-date_wrapper .main-event-month {
            font-size: 32px; }
        .main-events .main-event .main-event-date .main-event-date_wrapper .main-event-year {
          display: table;
          width: 100%;
          line-height: 10px;
          margin-top: 5px; }
    .main-events .main-event .main-event-meta {
      display: table-cell;
      width: 60%;
      height: 100%;
      vertical-align: top;
      padding-left: 20px;
      border-left: 2px solid #d5004b; }
      .main-events .main-event .main-event-meta .main-event-title {
        padding-top: 5px; }
        @media (min-width: 768px) {
          .main-events .main-event .main-event-meta .main-event-title {
            padding-top: 10px; } }
        .old-ie .main-events .main-event .main-event-meta .main-event-title {
          padding-top: 10px; }
        .main-events .main-event .main-event-meta .main-event-title h2 {
          font-size: 16px;
          line-height: 16px;
          font-weight: 500;
          margin-bottom: 37px;
          padding-left: 20px;
          padding-left: 20px;
          background: url(images/theme/event_day_arrow.jpg) top left no-repeat;
          background-size: 14px 14px;
          background-position: 0 0; }
      .main-events .main-event .main-event-meta .main-event-rsvp a.rsvp {
        display: inline;
        display: inline-block;
        padding: 7px 17px;
        background: #1e1e1e;
        font-family: 'Open Sans Condensed', sans-serif;
        color: #fff;
        font-size: 14px;
        line-height: 13px;
        text-transform: uppercase;
        -moz-border-radius: 3px 3px 3px 3px;
        -webkit-border-top-left-radius: 3px;
        -webkit-border-top-right-radius: 3px;
        -webkit-border-bottom-right-radius: 3px;
        -webkit-border-bottom-left-radius: 3px;
        border-radius: 3px 3px 3px 3px; }
    .main-events .main-event a.rsvp {
      position: absolute;
      right: auto;
      bottom: 15px;
      padding: 7px 17px;
      background: #1e1e1e;
      font-family: 'Open Sans Condensed', sans-serif;
      color: #fff;
      font-size: 14px;
      line-height: 13px;
      text-transform: uppercase;
      -moz-border-radius: 3px 3px 3px 3px;
      -webkit-border-top-left-radius: 3px;
      -webkit-border-top-right-radius: 3px;
      -webkit-border-bottom-right-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
      border-radius: 3px 3px 3px 3px;
      -webkit-transition: 0.2s ease-in-out all;
      -moz-transition: 0.2s ease-in-out all;
      -ms-transition: 0.2s ease-in-out all;
      -o-transition: 0.2s ease-in-out all;
      transition: 0.2s ease-in-out all; }
      @media (min-width: 768px) {
        .main-events .main-event a.rsvp {
          bottom: 20px; } }
      .old-ie .main-events .main-event a.rsvp {
        bottom: 20px; }
      .main-events .main-event a.rsvp:hover {
        background: #1e1e1e !important; }
    .main-events .main-event .current-indicator {
      position: absolute;
      top: 0;
      right: 0;
      width: 35px;
      height: 100%;
      background: url(images/theme/event_current_arrow.png) center center no-repeat #d5004b;
      -moz-border-radius: 0 3px 3px 0;
      -webkit-border-top-left-radius: 0;
      -webkit-border-top-right-radius: 3px;
      -webkit-border-bottom-right-radius: 3px;
      -webkit-border-bottom-left-radius: 0;
      border-radius: 0 3px 3px 0; }
      @media (min-width: 768px) {
        .main-events .main-event .current-indicator {
          width: 55px; } }
      .old-ie .main-events .main-event .current-indicator {
        width: 55px; }
    .main-events .main-event:hover .main-event-day, .main-events .main-event:first-of-type .main-event-day {
      background: #fff;
      border: 2px solid #1e1e1e;
      color: #1e1e1e; }
    .main-events .main-event:first-of-type:hover .main-event-day {
      background: #d5004b;
      border: 2px solid #d5004b;
      color: #fff; }
    .main-events .main-event:last-of-type {
      margin-bottom: 0; }
  .main-events .main-event-current {
    background: #fff !important;
    border: 2px solid #1e1e1e !important;
    color: #1e1e1e !important; }

.half_column_last .main-events .main-event:first-of-type .main-event-day {
  background: #1e1e1e;
  border: 2px solid #1e1e1e;
  color: #fff; }
.half_column_last .main-events .main-event:hover:hover .main-event-day, .half_column_last .main-events .main-event:first-of-type:hover .main-event-day {
  background: #fff;
  border: 2px solid #1e1e1e;
  color: #1e1e1e; }

.event-full .event-full-image {
  background: #fff;
  padding: 5px;
  margin-bottom: 10px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-radius: 3px 3px 3px 3px; }
.event-full .event-full-meta {
  background: #fff;
  padding: 10px;
  text-align: center;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-radius: 3px 3px 3px 3px; }
  @media (min-width: 768px) {
    .event-full .event-full-meta {
      text-align: left; } }
  .old-ie .event-full .event-full-meta {
    text-align: left; }
  .event-full .event-full-meta .event-full-meta-head {
    display: table;
    width: 100%;
    padding: 15px; }
    .event-full .event-full-meta .event-full-meta-head .event-full-meta-left {
      display: block; }
      @media (min-width: 768px) {
        .event-full .event-full-meta .event-full-meta-head .event-full-meta-left {
          display: table-cell;
          vertical-align: middle;
          width: 60%; } }
      .old-ie .event-full .event-full-meta .event-full-meta-head .event-full-meta-left {
        display: table-cell;
        vertical-align: middle;
        width: 60%; }
      .event-full .event-full-meta .event-full-meta-head .event-full-meta-left h1 {
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;
        color: #d5004b;
        margin: 0; }
      .event-full .event-full-meta .event-full-meta-head .event-full-meta-left p.event-full-meta-date {
        color: #1e1e1e;
        font-weight: 700;
        font-size: 12px;
        margin: 0; }
    .event-full .event-full-meta .event-full-meta-head .event-full-meta-right {
      display: block; }
      @media (min-width: 768px) {
        .event-full .event-full-meta .event-full-meta-head .event-full-meta-right {
          display: table-cell;
          vertical-align: middle;
          width: 40%; } }
      .old-ie .event-full .event-full-meta .event-full-meta-head .event-full-meta-right {
        display: table-cell;
        vertical-align: middle;
        width: 40%; }
      .event-full .event-full-meta .event-full-meta-head .event-full-meta-right ul.event-info-icons {
        display: block;
        width: 123px;
        margin: 0 auto;
        padding: 15px 0; }
        @media (min-width: 768px) {
          .event-full .event-full-meta .event-full-meta-head .event-full-meta-right ul.event-info-icons {
            display: inline;
            display: inline-block;
            float: right; } }
        .old-ie .event-full .event-full-meta .event-full-meta-head .event-full-meta-right ul.event-info-icons {
          display: inline;
          display: inline-block;
          float: right; }
        .event-full .event-full-meta .event-full-meta-head .event-full-meta-right ul.event-info-icons li {
          display: block;
          float: left;
          margin: 0 5px; }
          @media (min-width: 768px) {
            .event-full .event-full-meta .event-full-meta-head .event-full-meta-right ul.event-info-icons li {
              margin: 0 0 0 5px; } }
          .old-ie .event-full .event-full-meta .event-full-meta-head .event-full-meta-right ul.event-info-icons li {
            margin: 0 0 0 5px; }
          .event-full .event-full-meta .event-full-meta-head .event-full-meta-right ul.event-info-icons li .event-info-icon {
            display: block;
            width: 36px;
            height: 36px;
            background: url(images/theme/event_info_icons.png) top left no-repeat;
            color: #fff;
            font-size: 11px;
            line-height: 11px;
            font-weight: 700;
            padding: 12px 8px; }
          .event-full .event-full-meta .event-full-meta-head .event-full-meta-right ul.event-info-icons li .event-info-icon-price {
            background: url(images/theme/event_info_icons.png) top left no-repeat; }
          .event-full .event-full-meta .event-full-meta-head .event-full-meta-right ul.event-info-icons li .event-info-icon-dresscode {
            background: url(images/theme/event_info_icons.png) top left no-repeat;
            background-position: -41px 0; }
          .event-full .event-full-meta .event-full-meta-head .event-full-meta-right ul.event-info-icons li .event-info-icon-age {
            background: url(images/theme/event_info_icons.png) top left no-repeat;
            background-position: -82px 0;
            text-align: center; }
  .event-full .event-full-meta .event-full-meta-body {
    padding: 15px 15px;
    padding-top: 0; }
  .event-full .event-full-meta .event-full-meta-cta {
    padding-top: 10px; }

.half_column_last .main-event:first-of-type .main-event-day {
  background: #1e1e1e;
  border: 2px solid transparent;
  color: #fff; }

ul.main-concept-list-big {
  list-style: none;
  margin: 0;
  padding: 10px 0 0;
  display: table;
  width: 100%; }
  @media (min-width: 768px) {
    ul.main-concept-list-big {
      padding-top: 0; } }
  .old-ie ul.main-concept-list-big {
    padding-top: 0; }
  ul.main-concept-list-big li {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    width: 48%;
    float: left;
    display: table-cell; }
    @media (min-width: 480px) {
      ul.main-concept-list-big li {
        width: 49%; } }
    .old-ie ul.main-concept-list-big li {
      width: 49%; }
    @media (min-width: 768px) {
      ul.main-concept-list-big li {
        height: 140px; } }
    .old-ie ul.main-concept-list-big li {
      height: 140px; }
    ul.main-concept-list-big li a {
      background: transparent; }
      ul.main-concept-list-big li a:hover {
        background: rgba(255, 255, 255, 0.2); }
      ul.main-concept-list-big li a .event-concept {
        position: relative;
        height: 100%;
        padding: 10px;
        text-align: center;
        background: #d5004b;
        -moz-border-radius: 3px 3px 3px 3px;
        -webkit-border-top-left-radius: 3px;
        -webkit-border-top-right-radius: 3px;
        -webkit-border-bottom-right-radius: 3px;
        -webkit-border-bottom-left-radius: 3px;
        border-radius: 3px 3px 3px 3px; }
        ul.main-concept-list-big li a .event-concept img {
          margin: 0 auto;
          width: 100px;
          height: 58px; }
          @media (min-width: 768px) {
            ul.main-concept-list-big li a .event-concept img {
              position: absolute;
              top: 50%;
              left: 50%;
              width: 120px;
              height: 70px;
              margin: -35px 0 0 -60px; } }
          .old-ie ul.main-concept-list-big li a .event-concept img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 120px;
            height: 70px;
            margin: -35px 0 0 -60px; }
          @media (min-width: 1280px) {
            ul.main-concept-list-big li a .event-concept img {
              position: absolute;
              top: 50%;
              left: 50%;
              width: 150px;
              height: 87px;
              margin: -44px 0 0 -75px; } }
          .old-ie ul.main-concept-list-big li a .event-concept img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 150px;
            height: 87px;
            margin: -44px 0 0 -75px; }
      ul.main-concept-list-big li a .event-concept-mask {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(images/theme/white_hover.png);
        -moz-border-radius: 3px 3px 3px 3px;
        -webkit-border-top-left-radius: 3px;
        -webkit-border-top-right-radius: 3px;
        -webkit-border-bottom-right-radius: 3px;
        -webkit-border-bottom-left-radius: 3px;
        border-radius: 3px 3px 3px 3px; }
  ul.main-concept-list-big li:nth-child(2n) {
    float: right; }
  ul.main-concept-list-big li:last-of-type {
    margin-bottom: 0; }
  ul.main-concept-list-big li:nth-last-of-type(2) {
    margin-bottom: 0; }

ul.main-concept-list {
  list-style: none;
  margin: 10px 0 0;
  padding: 10px 0 0;
  display: table;
  width: 100%; }
  @media (min-width: 768px) {
    ul.main-concept-list {
      padding-top: 0;
      margin-top: 50px; } }
  .old-ie ul.main-concept-list {
    padding-top: 0;
    margin-top: 50px; }
  ul.main-concept-list li {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
    float: left;
    display: table-cell;
    margin-right: 2%; }
    @media (min-width: 480px) {
      ul.main-concept-list li {
        width: 32%; } }
    .old-ie ul.main-concept-list li {
      width: 32%; }
    @media (min-width: 768px) {
      ul.main-concept-list li {
        height: 90px; } }
    .old-ie ul.main-concept-list li {
      height: 90px; }
    ul.main-concept-list li .event-concept {
      position: relative;
      height: 100%;
      padding: 10px;
      text-align: center;
      background: #d5004b;
      -moz-border-radius: 3px 3px 3px 3px;
      -webkit-border-top-left-radius: 3px;
      -webkit-border-top-right-radius: 3px;
      -webkit-border-bottom-right-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
      border-radius: 3px 3px 3px 3px; }
      ul.main-concept-list li .event-concept img {
        width: 100px;
        height: 58px;
        margin: 0 auto; }
        @media (min-width: 768px) {
          ul.main-concept-list li .event-concept img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100px;
            height: 58px;
            margin: -29px 0 0 -50px; } }
        .old-ie ul.main-concept-list li .event-concept img {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100px;
          height: 58px;
          margin: -29px 0 0 -50px; }
    ul.main-concept-list li .event-concept-mask {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(images/theme/white_hover.png);
      -moz-border-radius: 3px 3px 3px 3px;
      -webkit-border-top-left-radius: 3px;
      -webkit-border-top-right-radius: 3px;
      -webkit-border-bottom-right-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
      border-radius: 3px 3px 3px 3px; }
  ul.main-concept-list li:nth-child(3n) {
    float: right; }
  ul.main-concept-list li:last-of-type {
    margin-right: 0; }

ul.main-concept-list-small {
  list-style: none;
  margin: 10px 0 0;
  padding: 0px 0 0;
  display: table;
  width: 100%; }
  @media (min-width: 768px) {
    ul.main-concept-list-small {
      padding-top: 0;
      margin-top: 50px; } }
  .old-ie ul.main-concept-list-small {
    padding-top: 0;
    margin-top: 50px; }
  ul.main-concept-list-small li {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
    float: left;
    display: table-cell;
    margin-right: 2%; }
    @media (min-width: 480px) {
      ul.main-concept-list-small li {
        width: 24.25%;
        margin-right: 1%; } }
    .old-ie ul.main-concept-list-small li {
      width: 24.25%;
      margin-right: 1%; }
    @media (min-width: 768px) {
      ul.main-concept-list-small li {
        height: 70px; } }
    .old-ie ul.main-concept-list-small li {
      height: 70px; }
    ul.main-concept-list-small li .event-concept {
      position: relative;
      height: 100%;
      padding: 10px;
      text-align: center;
      background: #d5004b;
      -moz-border-radius: 3px 3px 3px 3px;
      -webkit-border-top-left-radius: 3px;
      -webkit-border-top-right-radius: 3px;
      -webkit-border-bottom-right-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
      border-radius: 3px 3px 3px 3px; }
      ul.main-concept-list-small li .event-concept img {
        margin: 0 auto;
        width: 80px;
        height: 46px; }
        @media (min-width: 768px) {
          ul.main-concept-list-small li .event-concept img {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 75px;
            height: 44px;
            margin: -22px 0 0 -37px; } }
        .old-ie ul.main-concept-list-small li .event-concept img {
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          width: 75px;
          height: 44px;
          margin: -22px 0 0 -37px; }
    ul.main-concept-list-small li .event-concept-mask {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(images/theme/white_hover.png);
      -moz-border-radius: 3px 3px 3px 3px;
      -webkit-border-top-left-radius: 3px;
      -webkit-border-top-right-radius: 3px;
      -webkit-border-bottom-right-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
      border-radius: 3px 3px 3px 3px; }
  ul.main-concept-list-small li:last-of-type {
    margin-right: 0; }

.concept-content .concept-header .concept-branding {
  width: 100%;
  background: #fff;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-radius: 3px 3px 3px 3px;
  display: block;
  display: table;
  padding: 18px 20px;
  color: #1e1e1e;
  text-align: center; }
  @media (min-width: 768px) {
    .concept-content .concept-header .concept-branding {
      text-align: left; } }
  .old-ie .concept-content .concept-header .concept-branding {
    text-align: left; }
  .concept-content .concept-header .concept-branding .concept-logo {
    padding: 40px; }
    @media (min-width: 480px) {
      .concept-content .concept-header .concept-branding .concept-logo {
        width: 40%;
        display: inline;
        display: inline-block;
        display: table-cell;
        vertical-align: middle;
        padding: 10px 20px; } }
    .old-ie .concept-content .concept-header .concept-branding .concept-logo {
      width: 40%;
      display: inline;
      display: inline-block;
      display: table-cell;
      vertical-align: middle;
      padding: 10px 20px; }
  .concept-content .concept-header .concept-branding .concept-meta {
    font-size: 16px;
    font-weight: 300; }
    @media (min-width: 480px) {
      .concept-content .concept-header .concept-branding .concept-meta {
        width: 60%;
        display: inline;
        display: block-inline;
        display: table-cell;
        vertical-align: middle;
        border-left: 2px solid #fff;
        padding-left: 30px; } }
    .old-ie .concept-content .concept-header .concept-branding .concept-meta {
      width: 60%;
      display: inline;
      display: block-inline;
      display: table-cell;
      vertical-align: middle;
      border-left: 2px solid #fff;
      padding-left: 30px; }
    .concept-content .concept-header .concept-branding .concept-meta .concept-meta-headline {
      display: block;
      font-size: 24px;
      line-height: 28px;
      font-weight: 500; }
    .concept-content .concept-header .concept-branding .concept-meta p {
      margin: 0; }
.concept-content .concept-main {
  margin-top: 10px;
  background: #fff;
  padding: 10px;
  font-size: 13px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-radius: 3px 3px 3px 3px;
  text-align: center; }
  @media (min-width: 768px) {
    .concept-content .concept-main {
      text-align: left; } }
  .old-ie .concept-content .concept-main {
    text-align: left; }
  .concept-content .concept-main .concept-main-inner {
    padding: 20px; }
    .concept-content .concept-main .concept-main-inner strong {
      font-size: 18px;
      line-height: 22px;
      color: #1e1e1e; }

.main-event.ilfp-event .main-event-meta {
  border-left: 2px solid #287fd4; }
.main-event.ilfp-event a.rsvp {
  background-color: #287fd4 !important; }
.main-event.ilfp-event .current-indicator {
  background: url(images/theme/event_current_arrow.png) center center no-repeat #287fd4; }
.main-event.ilfp-event:first-of-type:hover .main-event-day {
  background-color: #287fd4;
  border-color: #287fd4; }
.main-event.ls-event .main-event-meta {
  border-left: 2px solid #d84100; }
.main-event.ls-event a.rsvp {
  background-color: #d84100 !important; }
.main-event.ls-event .current-indicator {
  background: url(images/theme/event_current_arrow.png) center center no-repeat #d84100; }
.main-event.ls-event:first-of-type:hover .main-event-day {
  background-color: #d84100;
  border-color: #d84100; }
.main-event.aw-event .main-event-meta {
  border-left: 2px solid #6ac200; }
.main-event.aw-event a.rsvp {
  background-color: #6ac200 !important; }
.main-event.aw-event .current-indicator {
  background: url(images/theme/event_current_arrow.png) center center no-repeat #6ac200; }
.main-event.aw-event:first-of-type:hover .main-event-day {
  background-color: #6ac200;
  border-color: #6ac200; }
.main-event.l3-event .main-event-meta {
  border-left: 2px solid #d5004b; }
.main-event.l3-event a.rsvp {
  background-color: #d5004b !important; }
.main-event.l3-event .current-indicator {
  background: url(images/theme/event_current_arrow.png) center center no-repeat #d5004b; }
.main-event.l3-event:first-of-type:hover .main-event-day {
  background-color: #d5004b;
  border-color: #d5004b; }

/* ILFP - I LOVE FEESTPALEIS */
body.term-i-love-feestpaleis {
  background: url(images/theme/bg_ilfp.jpg) center center no-repeat #0c0f1e;
  background-attachment: fixed;
  background-size: auto 100%; }
  body.term-i-love-feestpaleis .sitenav ul li a:hover {
    border-bottom: 5px solid #287fd4; }
  body.term-i-love-feestpaleis .sitenav ul li.current-menu-item a,
  body.term-i-love-feestpaleis .sitenav ul li.current_page_item a {
    border-bottom: 5px solid #287fd4; }
  body.term-i-love-feestpaleis .concept-main .concept-main-inner h4, body.term-i-love-feestpaleis .concept-main .concept-main-inner strong {
    color: #287fd4; }

/* LS - LOVELY SUNDAYS */
body.term-lovely-sundays {
  background: url(images/theme/bg_ls.jpg) center center no-repeat #0c0f1e;
  background-attachment: fixed;
  background-size: auto 100%; }
  body.term-lovely-sundays .sitenav ul li a:hover {
    border-bottom: 5px solid #d84100; }
  body.term-lovely-sundays .sitenav ul li.current-menu-item a,
  body.term-lovely-sundays .sitenav ul li.current_page_item a {
    border-bottom: 5px solid #d84100; }
  body.term-lovely-sundays .concept-main .concept-main-inner h4, body.term-lovely-sundays .concept-main .concept-main-inner strong {
    color: #d84100; }

/* AW - AFTER WORK */
body.term-after-work {
  background: url(images/theme/bg_aw.jpg) center center no-repeat #0c0f1e;
  background-attachment: fixed;
  background-size: auto 100%; }
  body.term-after-work .sitenav ul li a:hover {
    border-bottom: 5px solid #6ac200; }
  body.term-after-work .sitenav ul li.current-menu-item a,
  body.term-after-work .sitenav ul li.current_page_item a {
    border-bottom: 5px solid #6ac200; }
  body.term-after-work .concept-main .concept-main-inner h4, body.term-after-work .concept-main .concept-main-inner strong {
    color: #6ac200; }

/* L3 - LEVEL 3 */
body.term-level-3 {
  background: url(images/theme/bg_l3.jpg) center center no-repeat #0c0f1e;
  background-attachment: fixed;
  background-size: auto 100%; }
  body.term-level-3 .sitenav ul li a:hover {
    border-bottom: 5px solid #d5004b; }
  body.term-level-3 .sitenav ul li.current-menu-item a,
  body.term-level-3 .sitenav ul li.current_page_item a {
    border-bottom: 5px solid #d5004b; }
  body.term-level-3 .concept-main .concept-main-inner h4, body.term-level-3 .concept-main .concept-main-inner strong {
    color: #d5004b; }

ul.gallery-grid li, ul.grid-gallery-media li {
  width: 50%;
  float: left;
  height: 80px;
  overflow: hidden; }
  @media (min-width: 480px) {
    ul.gallery-grid li, ul.grid-gallery-media li {
      width: 25%; } }
  .old-ie ul.gallery-grid li, .old-ie ul.grid-gallery-media li {
    width: 25%; }
  @media (min-width: 768px) {
    ul.gallery-grid li, ul.grid-gallery-media li {
      height: 100px; } }
  .old-ie ul.gallery-grid li, .old-ie ul.grid-gallery-media li {
    height: 100px; }
  ul.gallery-grid li .main-gallery-item, ul.grid-gallery-media li .main-gallery-item {
    display: table; }
    ul.gallery-grid li .main-gallery-item .main-gallery-mask, ul.grid-gallery-media li .main-gallery-item .main-gallery-mask {
      display: table-cell;
      vertical-align: middle;
      background: #fff;
      background: rgba(255, 255, 255, 0.2); }
    ul.gallery-grid li .main-gallery-item .main-gallery-thumb, ul.grid-gallery-media li .main-gallery-item .main-gallery-thumb {
      display: table-cell;
      vertical-align: middle; }
  ul.gallery-grid li:nth-child(4n+1), ul.grid-gallery-media li:nth-child(4n+1) {
    clear: both; }

.grid-gallery-media li {
  position: relative;
  height: 135px !important;
  overflow: hidden; }
  @media (min-width: 480px) {
    .grid-gallery-media li {
      height: 100px !important;
      width: 25%; } }
  .old-ie .grid-gallery-media li {
    height: 100px !important;
    width: 25%; }
  @media (min-width: 768px) {
    .grid-gallery-media li {
      height: 84px !important; } }
  .old-ie .grid-gallery-media li {
    height: 84px !important; }
  @media (min-width: 1024px) {
    .grid-gallery-media li {
      height: 111px !important; } }
  .old-ie .grid-gallery-media li {
    height: 111px !important; }
  @media (min-width: 1280px) {
    .grid-gallery-media li {
      height: 132px !important; } }
  .old-ie .grid-gallery-media li {
    height: 132px !important; }
  .grid-gallery-media li .media-mask {
    display: table;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    text-align: center; }
    .grid-gallery-media li .media-mask .media-mask-inner {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      text-align: center; }
    .grid-gallery-media li .media-mask .day {
      text-align: center;
      background: #1e1e1e;
      border: 2px solid transparent;
      font-size: 28px;
      line-height: 32px;
      font-weight: 800;
      padding: 12px;
      color: #fff;
      display: inline-block;
      -moz-border-radius: 3px 3px 3px 3px;
      -webkit-border-top-left-radius: 3px;
      -webkit-border-top-right-radius: 3px;
      -webkit-border-bottom-right-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
      border-radius: 3px 3px 3px 3px;
      -webkit-transition: 0.2s ease-in-out all;
      -moz-transition: 0.2s ease-in-out all;
      -ms-transition: 0.2s ease-in-out all;
      -o-transition: 0.2s ease-in-out all;
      transition: 0.2s ease-in-out all; }
    .grid-gallery-media li .media-mask .month {
      font-weight: 700;
      font-size: 20px;
      text-align: center; }
    .grid-gallery-media li .media-mask .year {
      font-weight: 300;
      font-size: 13px;
      text-align: center; }

.contact-content .map-wrap {
  padding: 5px;
  background: #fff;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-radius: 3px 3px 3px 3px; }
  .contact-content .map-wrap #map-canvas {
    height: 210px; }
    .contact-content .map-wrap #map-canvas img {
      width: auto;
      height: auto;
      max-width: auto; }
.contact-content .contact-container-form {
  padding: 30px 30px 10px 30px;
  margin-top: 10px;
  background: #fff;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-radius: 3px 3px 3px 3px; }
.contact-content .contact-container {
  margin-top: 10px;
  padding: 10px;
  background: #fff;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-radius: 3px 3px 3px 3px; }
  .contact-content .contact-container .contact-container-inner {
    padding: 20px; }

/* Contactform */
#contactform {
  display: none; }

.reservations-content .reservations-thumb {
  position: relative;
  padding: 5px;
  background: #fff;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-radius: 3px 3px 3px 3px; }
  .reservations-content .reservations-thumb ul {
    display: inline;
    position: absolute;
    list-style: none;
    top: -4px;
    left: 100%;
    margin-left: -185px; }
    @media (min-width: 480px) {
      .reservations-content .reservations-thumb ul {
        top: 4%;
        left: 100%;
        margin-left: -220px; } }
    .old-ie .reservations-content .reservations-thumb ul {
      top: 4%;
      left: 100%;
      margin-left: -220px; }
    @media (min-width: 768px) {
      .reservations-content .reservations-thumb ul {
        top: -5px;
        left: 100%;
        margin-left: -185px; } }
    .old-ie .reservations-content .reservations-thumb ul {
      top: -5px;
      left: 100%;
      margin-left: -185px; }
    @media (min-width: 1024px) {
      .reservations-content .reservations-thumb ul {
        top: 7px;
        left: 100%;
        margin-left: -220px; } }
    .old-ie .reservations-content .reservations-thumb ul {
      top: 7px;
      left: 100%;
      margin-left: -220px; }
    @media (min-width: 1280px) {
      .reservations-content .reservations-thumb ul {
        top: 20px;
        left: 100%;
        margin-left: -220px; } }
    .old-ie .reservations-content .reservations-thumb ul {
      top: 20px;
      left: 100%;
      margin-left: -220px; }
    .reservations-content .reservations-thumb ul li {
      text-align: right;
      text-transform: uppercase; }
      .reservations-content .reservations-thumb ul li a {
        font-weight: 500;
        margin-bottom: 10px;
        color: #fff;
        font-size: 1em; }
        @media (min-width: 480px) {
          .reservations-content .reservations-thumb ul li a {
            font-size: 1.3em; } }
        .old-ie .reservations-content .reservations-thumb ul li a {
          font-size: 1.3em; }
        @media (min-width: 768px) {
          .reservations-content .reservations-thumb ul li a {
            font-size: 1em; } }
        .old-ie .reservations-content .reservations-thumb ul li a {
          font-size: 1em; }
        @media (min-width: 1024px) {
          .reservations-content .reservations-thumb ul li a {
            font-size: 1.3em; } }
        .old-ie .reservations-content .reservations-thumb ul li a {
          font-size: 1.3em; }
      .reservations-content .reservations-thumb ul li .active {
        color: #d5004b !important; }
.reservations-content .reservations-container,
.reservations-content .reservations-container-no_margin_top {
  position: relative;
  margin-top: 10px;
  padding: 10px;
  background: #fff;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-radius: 3px 3px 3px 3px; }
  .reservations-content .reservations-container .reservation-total,
  .reservations-content .reservations-container-no_margin_top .reservation-total {
    position: absolute;
    top: 30px;
    right: 30px;
    padding: 5px 10px;
    background: #1e1e1e;
    color: #fff;
    font-weight: 700;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-radius: 3px 3px 3px 3px; }
  .reservations-content .reservations-container .reservations-container-inner,
  .reservations-content .reservations-container-no_margin_top .reservations-container-inner {
    padding: 20px; }
    .reservations-content .reservations-container .reservations-container-inner select,
    .reservations-content .reservations-container-no_margin_top .reservations-container-inner select {
      background: #fff;
      border: 1px solid #cccccc;
      padding: 10px;
      -moz-border-radius: 3px 3px 3px 3px;
      -webkit-border-top-left-radius: 3px;
      -webkit-border-top-right-radius: 3px;
      -webkit-border-bottom-right-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
      border-radius: 3px 3px 3px 3px; }
    .reservations-content .reservations-container .reservations-container-inner ul,
    .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul {
      margin: 0;
      padding: 0;
      list-style-position: inside; }
    .reservations-content .reservations-container .reservations-container-inner ul.form-list,
    .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list {
      margin-bottom: 30px; }
      .reservations-content .reservations-container .reservations-container-inner ul.form-list li,
      .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list li {
        margin-bottom: 5px; }
        .reservations-content .reservations-container .reservations-container-inner ul.form-list li label,
        .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list li label {
          display: block; }
        .reservations-content .reservations-container .reservations-container-inner ul.form-list li input,
        .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list li input {
          width: 100%; }
      .reservations-content .reservations-container .reservations-container-inner ul.form-list .half_column,
      .reservations-content .reservations-container .reservations-container-inner ul.form-list .half_column_last,
      .reservations-content .reservations-container .reservations-container-inner ul.form-list .half_column_left,
      .reservations-content .reservations-container .reservations-container-inner ul.form-list .half_column_right,
      .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list .half_column,
      .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list .half_column_last,
      .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list .half_column_left,
      .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list .half_column_right {
        display: block;
        width: 100%; }
        @media (min-width: 1280px) {
          .reservations-content .reservations-container .reservations-container-inner ul.form-list .half_column,
          .reservations-content .reservations-container .reservations-container-inner ul.form-list .half_column_last,
          .reservations-content .reservations-container .reservations-container-inner ul.form-list .half_column_left,
          .reservations-content .reservations-container .reservations-container-inner ul.form-list .half_column_right,
          .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list .half_column,
          .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list .half_column_last,
          .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list .half_column_left,
          .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list .half_column_right {
            width: 48%;
            float: left; } }
        .old-ie .reservations-content .reservations-container .reservations-container-inner ul.form-list .half_column, .old-ie
        .reservations-content .reservations-container .reservations-container-inner ul.form-list .half_column_last, .old-ie
        .reservations-content .reservations-container .reservations-container-inner ul.form-list .half_column_left, .old-ie
        .reservations-content .reservations-container .reservations-container-inner ul.form-list .half_column_right, .old-ie
        .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list .half_column, .old-ie
        .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list .half_column_last, .old-ie
        .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list .half_column_left, .old-ie
        .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list .half_column_right {
          width: 48%;
          float: left; }
      .reservations-content .reservations-container .reservations-container-inner ul.form-list .half_column_last,
      .reservations-content .reservations-container .reservations-container-inner ul.form-list .half_column_right,
      .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list .half_column_last,
      .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list .half_column_right {
        display: block;
        width: 100%;
        margin-top: 10px; }
        @media (min-width: 1280px) {
          .reservations-content .reservations-container .reservations-container-inner ul.form-list .half_column_last,
          .reservations-content .reservations-container .reservations-container-inner ul.form-list .half_column_right,
          .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list .half_column_last,
          .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list .half_column_right {
            float: right;
            width: 48%;
            margin-top: 0; } }
        .old-ie .reservations-content .reservations-container .reservations-container-inner ul.form-list .half_column_last, .old-ie
        .reservations-content .reservations-container .reservations-container-inner ul.form-list .half_column_right, .old-ie
        .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list .half_column_last, .old-ie
        .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list .half_column_right {
          float: right;
          width: 48%;
          margin-top: 0; }
      .reservations-content .reservations-container .reservations-container-inner ul.form-list .one_fourth_left,
      .reservations-content .reservations-container .reservations-container-inner ul.form-list .tree_fourth_right,
      .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list .one_fourth_left,
      .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list .tree_fourth_right {
        display: block;
        width: 100%; }
        @media (min-width: 1280px) {
          .reservations-content .reservations-container .reservations-container-inner ul.form-list .one_fourth_left,
          .reservations-content .reservations-container .reservations-container-inner ul.form-list .tree_fourth_right,
          .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list .one_fourth_left,
          .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list .tree_fourth_right {
            float: left;
            width: 23%;
            margin-right: 4%; } }
        .old-ie .reservations-content .reservations-container .reservations-container-inner ul.form-list .one_fourth_left, .old-ie
        .reservations-content .reservations-container .reservations-container-inner ul.form-list .tree_fourth_right, .old-ie
        .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list .one_fourth_left, .old-ie
        .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list .tree_fourth_right {
          float: left;
          width: 23%;
          margin-right: 4%; }
      .reservations-content .reservations-container .reservations-container-inner ul.form-list .three_fourth_right,
      .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list .three_fourth_right {
        display: block;
        width: 100%; }
        @media (min-width: 1280px) {
          .reservations-content .reservations-container .reservations-container-inner ul.form-list .three_fourth_right,
          .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list .three_fourth_right {
            float: right;
            width: 73%;
            margin-right: 0; } }
        .old-ie .reservations-content .reservations-container .reservations-container-inner ul.form-list .three_fourth_right, .old-ie
        .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list .three_fourth_right {
          float: right;
          width: 73%;
          margin-right: 0; }
      .reservations-content .reservations-container .reservations-container-inner ul.form-list .one_fourth_right,
      .reservations-content .reservations-container .reservations-container-inner ul.form-list .tree_fourth_left,
      .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list .one_fourth_right,
      .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list .tree_fourth_left {
        display: block;
        width: 100%; }
        @media (min-width: 1280px) {
          .reservations-content .reservations-container .reservations-container-inner ul.form-list .one_fourth_right,
          .reservations-content .reservations-container .reservations-container-inner ul.form-list .tree_fourth_left,
          .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list .one_fourth_right,
          .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list .tree_fourth_left {
            float: right;
            width: 23%;
            margin-right: 0%; } }
        .old-ie .reservations-content .reservations-container .reservations-container-inner ul.form-list .one_fourth_right, .old-ie
        .reservations-content .reservations-container .reservations-container-inner ul.form-list .tree_fourth_left, .old-ie
        .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list .one_fourth_right, .old-ie
        .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list .tree_fourth_left {
          float: right;
          width: 23%;
          margin-right: 0%; }
      .reservations-content .reservations-container .reservations-container-inner ul.form-list .three_fourth_left,
      .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list .three_fourth_left {
        display: block;
        width: 100%; }
        @media (min-width: 1280px) {
          .reservations-content .reservations-container .reservations-container-inner ul.form-list .three_fourth_left,
          .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list .three_fourth_left {
            float: left;
            width: 73%;
            margin-right: 4%; } }
        .old-ie .reservations-content .reservations-container .reservations-container-inner ul.form-list .three_fourth_left, .old-ie
        .reservations-content .reservations-container-no_margin_top .reservations-container-inner ul.form-list .three_fourth_left {
          float: left;
          width: 73%;
          margin-right: 4%; }
    .reservations-content .reservations-container .reservations-container-inner .reservations-options,
    .reservations-content .reservations-container-no_margin_top .reservations-container-inner .reservations-options {
      padding-top: 30px; }
      .reservations-content .reservations-container .reservations-container-inner .reservations-options ul.reservations1-options-list,
      .reservations-content .reservations-container-no_margin_top .reservations-container-inner .reservations-options ul.reservations1-options-list {
        margin-bottom: 30px; }
        .reservations-content .reservations-container .reservations-container-inner .reservations-options ul.reservations1-options-list li,
        .reservations-content .reservations-container-no_margin_top .reservations-container-inner .reservations-options ul.reservations1-options-list li {
          padding: 15px 20px;
          background: #ebebeb;
          margin-bottom: 2px;
          font-weight: 500;
          -webkit-transition: 0.2s ease-in-out all;
          -moz-transition: 0.2s ease-in-out all;
          -ms-transition: 0.2s ease-in-out all;
          -o-transition: 0.2s ease-in-out all;
          transition: 0.2s ease-in-out all; }
          .reservations-content .reservations-container .reservations-container-inner .reservations-options ul.reservations1-options-list li:hover,
          .reservations-content .reservations-container-no_margin_top .reservations-container-inner .reservations-options ul.reservations1-options-list li:hover {
            cursor: pointer;
            background: #f5f5f5; }
          .reservations-content .reservations-container .reservations-container-inner .reservations-options ul.reservations1-options-list li span.price,
          .reservations-content .reservations-container-no_margin_top .reservations-container-inner .reservations-options ul.reservations1-options-list li span.price {
            float: right;
            color: #d5004b;
            font-weight: 700; }
          .reservations-content .reservations-container .reservations-container-inner .reservations-options ul.reservations1-options-list li input.res1_radiobtn,
          .reservations-content .reservations-container-no_margin_top .reservations-container-inner .reservations-options ul.reservations1-options-list li input.res1_radiobtn {
            display: none; }
          .reservations-content .reservations-container .reservations-container-inner .reservations-options ul.reservations1-options-list li:focus,
          .reservations-content .reservations-container-no_margin_top .reservations-container-inner .reservations-options ul.reservations1-options-list li:focus {
            background: #fff; }
        .reservations-content .reservations-container .reservations-container-inner .reservations-options ul.reservations1-options-list li:nth-child(2n+1),
        .reservations-content .reservations-container-no_margin_top .reservations-container-inner .reservations-options ul.reservations1-options-list li:nth-child(2n+1) {
          background: #dfdfdf; }
          .reservations-content .reservations-container .reservations-container-inner .reservations-options ul.reservations1-options-list li:nth-child(2n+1):hover,
          .reservations-content .reservations-container-no_margin_top .reservations-container-inner .reservations-options ul.reservations1-options-list li:nth-child(2n+1):hover {
            background: #f5f5f5; }
          .reservations-content .reservations-container .reservations-container-inner .reservations-options ul.reservations1-options-list li:nth-child(2n+1):focus,
          .reservations-content .reservations-container-no_margin_top .reservations-container-inner .reservations-options ul.reservations1-options-list li:nth-child(2n+1):focus {
            background: #fff; }
      .reservations-content .reservations-container .reservations-container-inner .reservations-options ul.reservations2-options-list li,
      .reservations-content .reservations-container .reservations-container-inner .reservations-options ul.reservations3-options-list li,
      .reservations-content .reservations-container-no_margin_top .reservations-container-inner .reservations-options ul.reservations2-options-list li,
      .reservations-content .reservations-container-no_margin_top .reservations-container-inner .reservations-options ul.reservations3-options-list li {
        margin-bottom: 5px; }
        .reservations-content .reservations-container .reservations-container-inner .reservations-options ul.reservations2-options-list li #reservations-drinks1,
        .reservations-content .reservations-container .reservations-container-inner .reservations-options ul.reservations3-options-list li #reservations-drinks1,
        .reservations-content .reservations-container-no_margin_top .reservations-container-inner .reservations-options ul.reservations2-options-list li #reservations-drinks1,
        .reservations-content .reservations-container-no_margin_top .reservations-container-inner .reservations-options ul.reservations3-options-list li #reservations-drinks1 {
          margin-bottom: 5px; }
      .reservations-content .reservations-container .reservations-container-inner .reservations-options ul.reservations2-options-list ul.dd-options li,
      .reservations-content .reservations-container .reservations-container-inner .reservations-options ul.reservations3-options-list ul.dd-options li,
      .reservations-content .reservations-container-no_margin_top .reservations-container-inner .reservations-options ul.reservations2-options-list ul.dd-options li,
      .reservations-content .reservations-container-no_margin_top .reservations-container-inner .reservations-options ul.reservations3-options-list ul.dd-options li {
        background: none; }
      .reservations-content .reservations-container .reservations-container-inner .reservations-options input.btn, .reservations-content .reservations-container .reservations-container-inner .reservations-options #drinks_menu input.drinks_menu_title, #drinks_menu .reservations-content .reservations-container .reservations-container-inner .reservations-options input.drinks_menu_title,
      .reservations-content .reservations-container-no_margin_top .reservations-container-inner .reservations-options input.btn,
      .reservations-content .reservations-container-no_margin_top .reservations-container-inner .reservations-options #drinks_menu input.drinks_menu_title,
      #drinks_menu .reservations-content .reservations-container-no_margin_top .reservations-container-inner .reservations-options input.drinks_menu_title {
        -webkit-transition: 0.2s ease-in-out all;
        -moz-transition: 0.2s ease-in-out all;
        -ms-transition: 0.2s ease-in-out all;
        -o-transition: 0.2s ease-in-out all;
        transition: 0.2s ease-in-out all; }
        .reservations-content .reservations-container .reservations-container-inner .reservations-options input.btn:hover, .reservations-content .reservations-container .reservations-container-inner .reservations-options #drinks_menu input.drinks_menu_title:hover, #drinks_menu .reservations-content .reservations-container .reservations-container-inner .reservations-options input.drinks_menu_title:hover,
        .reservations-content .reservations-container-no_margin_top .reservations-container-inner .reservations-options input.btn:hover,
        .reservations-content .reservations-container-no_margin_top .reservations-container-inner .reservations-options #drinks_menu input.drinks_menu_title:hover,
        #drinks_menu .reservations-content .reservations-container-no_margin_top .reservations-container-inner .reservations-options input.drinks_menu_title:hover {
          cursor: pointer; }
.reservations-content .reservations-container-no_margin_top {
  margin-top: 0; }
.reservations-content .res2_container_drinks {
  position: relative; }
  .reservations-content .res2_container_drinks .res2_container_drinks_rest {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px 10px;
    background: #d5004b;
    color: #fff;
    font-weight: 700;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-radius: 3px 3px 3px 3px; }

#drinks_menu {
  padding-top: 20px; }
  #drinks_menu .drinks_menu_title {
    background-color: #535353;
    color: #fff !important;
    text-align: left;
    margin-bottom: 6px;
    text-transform: none;
    -webkit-transition: 0.2s ease-in-out all;
    -moz-transition: 0.2s ease-in-out all;
    -ms-transition: 0.2s ease-in-out all;
    -o-transition: 0.2s ease-in-out all;
    transition: 0.2s ease-in-out all; }
    #drinks_menu .drinks_menu_title:hover {
      cursor: pointer; }
  #drinks_menu .drinks_menu_container {
    margin-bottom: 6px; }
  #drinks_menu select {
    background: url(images/theme/select-dropdown.png) right 16px center no-repeat, white;
    border: 1px solid #cccccc;
    padding: 10px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-radius: 3px 3px 3px 3px; }

#res2_target select {
  display: block;
  width: 100%;
  margin-bottom: 10px; }

input.btn-wide, #drinks_menu input.drinks_menu_title {
  -webkit-transition: 0.2s ease-in-out all;
  -moz-transition: 0.2s ease-in-out all;
  -ms-transition: 0.2s ease-in-out all;
  -o-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all; }
  input.btn-wide:hover, #drinks_menu input.drinks_menu_title:hover {
    cursor: pointer;
    background: #3E3E3E; }

.res_errors {
  padding-bottom: 20px;
  font-style: italic;
  color: red; }

.venue-content {
  background: #fff;
  padding: 5px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-radius: 3px 3px 3px 3px;
  margin-bottom: 10px; }
  @media (min-width: 768px) {
    .venue-content {
      margin-bottom: 45px; } }
  .old-ie .venue-content {
    margin-bottom: 45px; }
  .venue-content ul.venue-list li {
    position: relative;
    margin-bottom: 5px; }
    .venue-content ul.venue-list li .venue-name {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 7px 8px;
      background: #000;
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
      text-transform: uppercase;
      font-size: 14px; }
      @media (min-width: 768px) {
        .venue-content ul.venue-list li .venue-name {
          padding: 12px 15px;
          font-size: 15px; } }
      .old-ie .venue-content ul.venue-list li .venue-name {
        padding: 12px 15px;
        font-size: 15px; }
  .venue-content ul.venue-list li:last-of-type {
    margin-bottom: 0; }

.sidetogglemenu {
  /* shared class for side toggle menus */
  border-right: 5px solid #ff573b;
  background-color: white;
  width: 170px;
  /* default menu width */
  height: 100%;
  position: fixed;
  top: -100%;
  clear: both;
  display: block;
  visibility: 'hidden';
  box-shadow: 5px 0 5px rgba(174, 174, 174, 0.8);
  -moz-transition: all 100ms ease-in-out;
  /* change 100ms to slide in animation time */
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out; }

.sidetogglemenu ul {
  padding: 0;
  margin: 0;
  list-style: none; }

.sidetogglemenu a {
  font: bold 13px Verdana;
  padding: 10px;
  display: block;
  color: #595959;
  text-decoration: none;
  border-bottom: 1px solid #C0C0C0; }

.sidetogglemenu a:hover {
  background: red;
  color: white; }

/* #######  Additional CSS for toggle menu #togglemenu2  ####### */
#togglemenu2 {
  width: 250px;
  border-width: 0;
  background: #356aa0;
  box-shadow: -5px 0 5px rgba(174, 174, 174, 0.8); }

#togglemenu2 ul a {
  color: white;
  border-bottom: 1px solid #eee;
  font: bold 14px;
  text-transform: uppercase; }

#togglemenu2 a:hover {
  background: #162a50;
  color: white; }

/* #######  Responsive Menu related CSS  ####### */
div#smallscreentoggler {
  /* CSS for small screen menus toggler, shown when device width is below specified */
  width: 1.5em;
  z-index: 10000;
  color: white;
  position: relative;
  float: right;
  overflow: hidden;
  background: gray;
  font: normal 1.8em Arial;
  margin-bottom: 0.5em;
  text-align: center;
  box-shadow: -3px 3px 5px gray;
  cursor: pointer;
  border-radius: 2px;
  display: none;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out; }

div#smallscreentoggler:hover {
  background: #eee;
  color: black;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out; }

@media screen and (max-width: 480px) {
  /* CSS when device width is 480px or less */
  div#smallscreentoggler {
    display: block;
    /* show small screen menus toggler */ }

  .sidetogglemenu {
    /* Set position of menus to static */
    position: static;
    border-width: 0;
    border-top-width: 1px;
    width: 98% !important;
    height: auto;
    box-shadow: 5px 0 5px rgba(174, 174, 174, 0.8) !important;
    margin-left: 5px;
    margin-bottom: 10px;
    display: none; } }
/* ========================= TYPOGRAPHY ========================= */
html, body {
  font-size: 100%;
  line-height: 100%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 22px;
  background: url(images/theme/bg_ilfp.jpg) center center no-repeat #0c0f1e;
  background-attachment: fixed;
  background-size: auto 100%; }
  @media (min-width: 1280px) {
    body {
      padding-top: 150px;
      background: url(images/theme/bg_ilfp.jpg) center 150px no-repeat #0c0f1e;
      background-attachment: fixed;
      background-size: auto 100%; } }
  .old-ie body {
    padding-top: 150px;
    background: url(images/theme/bg_ilfp.jpg) center 150px no-repeat #0c0f1e;
    background-attachment: fixed;
    background-size: auto 100%; }

a {
  color: #1e1e1e;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

strong {
  font-weight: 800; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-bottom: 10px;
  color: #d5004b; }

h1 {
  font-size: 18px;
  line-height: 18px; }

h2 {
  font-size: 18px;
  line-height: 18px; }

h3 {
  font-size: 18px;
  line-height: 18px; }

h4 {
  font-size: 18px;
  line-height: 20px; }

h5 {
  font-size: 16px;
  line-height: 18px; }

h6 {
  font-size: 14px;
  line-height: 16px; }

p {
  margin-bottom: 15px; }
  p:last-of-type {
    margin-bottom: 0; }
  p:only-of-type {
    margin-bottom: 15px; }

/* ========================= GLOBAL ========================= */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%;
  min-height: 100%; }

html, input {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }

body {
  color: #1e1e1e; }

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block; }

img.fancybox-image {
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-radius: 3px 3px 3px 3px; }

img.wp-smiley {
  width: auto;
  max-width: auto;
  height: auto;
  display: inline;
  display: inline-block;
  margin-bottom: -2px; }

select {
  background: #fff;
  border: 1px solid #cccccc;
  padding: 10px 30px 10px 10px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-radius: 3px 3px 3px 3px;
  -webkit-appearance: none;
  background: url(images/theme/select-dropdown.png) right 16px center no-repeat, white; }

.wpcf7-form {
  padding-top: 20px; }
  .wpcf7-form img {
    width: auto;
    max-width: auto;
    height: auto; }

.hasDatepicker {
  background: url(images/theme/select-dropdown.png) right 16px center no-repeat, white; }

.form-wrappy {
  margin-bottom: 5px; }
  .form-wrappy:last-of-type {
    margin-bottom: 0; }

a.fancybox {
  display: block;
  width: 100%; }

#tooltip {
  text-align: center;
  color: #fff;
  background: #1e1e1e;
  position: absolute;
  z-index: 100;
  padding: 15px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-radius: 3px 3px 3px 3px; }

#tooltip:after {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #111;
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  margin-left: -10px; }

#tooltip.top:after {
  border-top-color: transparent;
  border-bottom: 10px solid #111;
  top: -20px;
  bottom: auto; }

#tooltip.left:after {
  left: 10px;
  margin: 0; }

#tooltip.right:after {
  right: 10px;
  left: auto;
  margin: 0; }

/* ### ddSlick tweaks ### */
.drinks_menu_container .dd-container:last-of-type .dd-selected-description {
  display: none !important; }

.dd-container {
  margin-bottom: 5px; }
  .dd-container:last-of-type {
    margin-bottom: 0; }

.dd-selected-text {
  display: inline !important;
  display: inline-block !important; }

.dd-desc {
  display: inline !important;
  display: inline-block !important;
  margin-left: 10px !important;
  vertical-align: top;
  line-height: 1.5em !important; }

/* ### end ddSlick tweaks ### */
.btn-submit:hover {
  cursor: pointer; }

#ui-datepicker-div {
  display: none; }

.mc4wp-alert {
  position: absolute;
  margin-top: -35px;
  font-size: 1.5em; }
