ul.main-concept-list-big{
	list-style: none;
	margin: 0;
	padding: 10px 0 0;
	display: table;
	width: 100%;

	@include breakpoint(tablet){
		padding-top: 0;
	}

	li{
		position: relative;
		display: inline-block;
		margin-bottom: 10px;
		width: 48%;
		float: left;
		display: table-cell;
		@include breakpoint(mobile-ls){
			width: 49%;
		}

		@include breakpoint(tablet){
			height: 140px;
		}

		a{
			background: transparent;

			&:hover{
				background: rgba(255, 255, 255, 0.2);
			}

			.event-concept{
				position: relative;
				height: 100%;
				padding: 10px;
				text-align: center;
				background: $main;
				@include border-radius();
				
				img{
					margin: 0 auto;
					width: 100px;
					height: 58px;

					@include breakpoint(tablet){
						position: absolute;
						top: 50%;
						left: 50%;
						width: 120px;
						height: 70px;
						margin: -35px 0 0 -60px;
					}

					@include breakpoint(desktop){
						position: absolute;
						top: 50%;
						left: 50%;
						width: 150px;
						height: 87px;
						margin: -44px 0 0 -75px;
					}
				}
			}

			.event-concept-mask{
				display: none;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: url(images/theme/white_hover.png);
				@include border-radius();
			}
		}
	}

	li:nth-child(2n){
		float:right;
	}

	li:last-of-type{
		margin-bottom: 0;
	}
	
	li:nth-last-of-type(2){
		margin-bottom: 0;
	}
}

ul.main-concept-list{
	list-style: none;
	margin: 10px 0 0;
	padding: 10px 0 0;
	display: table;
	width: 100%;

	@include breakpoint(tablet){
		padding-top: 0;
		margin-top: 50px;
	}

	li{
		position: relative;
		display: inline-block;
		margin-bottom: 10px;
		width: 100%;
		float: left;
		display: table-cell;
		margin-right: 2%;
		@include breakpoint(mobile-ls){
			width: 32%;
		}

		@include breakpoint(tablet){
			height: 90px;
		}

		.event-concept{
			position: relative;
			height: 100%;
			padding: 10px;
			text-align: center;
			background: $main;
			@include border-radius();
			
			img{
				width: 100px;
				height: 58px;
				margin: 0 auto;

				@include breakpoint(tablet){
					position: absolute;
					top: 50%;
					left: 50%;
					width: 100px;
					height: 58px;
					margin: -29px 0 0 -50px;
				}
			}
		}

		.event-concept-mask{
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url(images/theme/white_hover.png);
			@include border-radius();
		}

	}

	li:nth-child(3n){
		float:right;
	}

	li:last-of-type{
		margin-right: 0;
	}
}

ul.main-concept-list-small{
	list-style: none;
	margin: 10px 0 0;
	padding: 0px 0 0;
	display: table;
	width: 100%;

	@include breakpoint(tablet){
		padding-top: 0;
		margin-top: 50px;
	}

	li{
		position: relative;
		display: inline-block;
		margin-bottom: 10px;
		width: 100%;
		float: left;
		display: table-cell;
		margin-right: 2%;
		@include breakpoint(mobile-ls){
			width: 24.25%;
			margin-right: 1%;
		}

		@include breakpoint(tablet){
			height: 70px;
		}

		.event-concept{
			position: relative;
			height: 100%;
			padding: 10px;
			text-align: center;
			background: $main;
			@include border-radius();
			
			img{
				margin: 0 auto;
				width: 80px;
				height: 46px;

				@include breakpoint(tablet){
					margin: 0;
					position: absolute;
					top: 50%;
					left: 50%;
					width: 75px;
					height: 44px;
					margin: -22px 0 0 -37px;
				}
			}
		}

		.event-concept-mask{
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url(images/theme/white_hover.png);
			@include border-radius();
		}

	}

	li:last-of-type{
		margin-right: 0;
	}
}

.concept-content{

	.concept-header{

		.concept-branding{
			width: 100%;
			background: #fff;
			@include border-radius();
			display: block;
			display: table;
			padding: 18px 20px;
			color: $dgrey;
			text-align: center;

			@include breakpoint(tablet){
				text-align: left;
			}
			
			.concept-logo{
				padding: 40px;
				
				@include breakpoint(mobile-ls){
					width: 40%;
					display: inline;
					display: inline-block;
					display: table-cell;
					vertical-align: middle;
					padding: 10px 20px;
				}
			}

			.concept-meta{
				font-size: 16px;
				font-weight: 300;

				@include breakpoint(mobile-ls){
					width: 60%;
					display: inline;
					display: block-inline;
					display: table-cell;
					vertical-align: middle;
					border-left: 2px solid #fff;
					padding-left: 30px;
				}

				.concept-meta-headline{
					display: block;
					font-size: 24px;
					line-height: 28px;
					font-weight: 500;
				}

				p{
					margin: 0;
				}
			}
		}

		.ilfp{

		}

	}

	.concept-main{
		margin-top: 10px;
		background: #fff;
		padding: 10px;
		font-size: 13px;
		@include border-radius();
		text-align: center;

		@include breakpoint(tablet){
			text-align: left;
		}
		
		.concept-main-inner{
			padding: 20px;

			strong{
				font-size: 18px;
				line-height: 22px;
				color: $dgrey;
			}
		}
	}
}