.contact-content{

	.map-wrap{
		padding: 5px;
		background: #fff;
		@include border-radius();

		#map-canvas{
			height: 210px;

			img{
				width: auto;
				height: auto;
				max-width: auto;
			}
		}
	}

	.contact-container-form{
		padding: 30px 30px 10px 30px;
		margin-top: 10px;
		background: #fff;
		@include border-radius();
	}

	.contact-container{
		margin-top: 10px;
		padding: 10px;
		background: #fff;
		@include border-radius();

		.contact-container-inner{
			padding: 20px;
		}
	}
}

/* Contactform */
#contactform{
	display: none;
}