.main-events{
	display: table;
	width: 100%;
	margin-top: 10px;

	@include breakpoint(tablet){
		margin-top: 0;
	}

	.main-event-row{
		width: 100%;
		display: table;
	}

	.main-event{
		position: relative;
		display: table;
		background: #fff;
		padding: 10px;
		@include border-radius();
		width: 100%;
		margin-bottom: 10px;

		a.big-button{
			position: relative;
			display: table;
			width: 100%;

			h2{
				color: $dgrey;
			}
		}

		.main-event-date{
			display: table-cell;
			width: 40%;
			height: 100%;
			vertical-align: middle;

			.main-event-day{
				text-align: center;
				background: $dgrey;
				border: 2px solid transparent;
				font-size: 28px;
				line-height: 32px;
				font-weight: 800;
				padding: 10px 0;
				@include border-radius();
				color: #fff;
				display: table-cell;
				vertical-align: middle;
				height: 100%;
				width: 50%;
				@include transition( 0.2s, ease-in-out, all);

				@include breakpoint(tablet){
					padding: 12px 0;
					font-size: 38px;
					line-height: 42px;
				}

				@include breakpoint(tablet-ls){
					font-size: 50px;
				}
			}

			.main-event-date_wrapper{
				display: table-cell;
				width: 50%;
				text-align: center;
				vertical-align: middle;
				text-transform: uppercase;

				.main-event-month{
					display: table;
					font-size: 22px;
					line-height: 22px;
					font-weight: 700;
					text-align: center;
					vertical-align: middle;
					text-transform: uppercase;
					width: 100%;

					@include breakpoint(tablet-ls){
						font-size: 32px;
					}
				}

				.main-event-year{
					display: table;
					width: 100%;
					line-height: 10px;
					margin-top: 5px;
				}
			}
		}

		.main-event-meta{
			display: table-cell;
			width: 60%;
			height: 100%;
			vertical-align: top;
			padding-left: 20px;
			border-left: 2px solid $main;

			.main-event-title{
				padding-top: 5px;

				@include breakpoint(tablet){
					padding-top: 10px;
				}

				h2{
					font-size: 16px;
					line-height: 16px;
					font-weight: 500;
					margin-bottom: 37px;
					padding-left: 20px;
					padding-left: 20px;
					background: url(images/theme/event_day_arrow.jpg) top left no-repeat;
					background-size: 14px 14px;
					background-position: 0 0;
				}
			}

			.main-event-rsvp{
				a.rsvp{
					display: inline;
					display: inline-block;
					padding: 7px 17px;
					background: $dgrey;
					font-family: 'Open Sans Condensed', sans-serif;
					color: #fff;
					font-size: 14px;
					line-height: 13px;
					text-transform: uppercase;
					@include border-radius();
				}
			}
		}

		a.rsvp{
			position: absolute;
			right: auto;
			bottom: 15px;
			padding: 7px 17px;
			background: $dgrey;
			font-family: 'Open Sans Condensed', sans-serif;
			color: #fff;
			font-size: 14px;
			line-height: 13px;
			text-transform: uppercase;
			@include border-radius();
			@include transition( 0.2s, ease-in-out, all);

			@include breakpoint(tablet){
				bottom: 20px;
			}

			&:hover{
				background: $dgrey !important;
			}
		}

		.current-indicator{
			position: absolute;
			top: 0;
			right: 0;
			width: 35px;
			height: 100%;
			background: url(images/theme/event_current_arrow.png) center center no-repeat $main;
			@include border-radius(0, 3px, 3px, 0);

			@include breakpoint(tablet){
				width: 55px;
			}
		}

		&:hover,
		&:first-of-type{
			.main-event-day{
				background: #fff;
				border: 2px solid $dgrey;
				color: $dgrey;
			}
		}

		&:first-of-type{
			&:hover{
				.main-event-day{
					background: $main;
					border: 2px solid $main;
					color: #fff;
				}
			}
		}

		// &:hover{
		// 	.main-event-day{
		// 		background: $main;
		// 		border-color: $main;
		// 		color: #fff;
		// 	}

		// 	a.rsvp{
		// 		background: $dgrey !important;
		// 	}
		// }

		&:last-of-type{
			margin-bottom: 0;
		}
	}

	.main-event-current{	
		background: #fff !important;
		border: 2px solid $dgrey !important;
		color: $dgrey !important;
	}

	.main-event-current.ilfp-event{

	}
}

.half_column_last{
	.main-events{
		.main-event{
			
			&:first-of-type{
				.main-event-day{
					background: $dgrey;
					border: 2px solid $dgrey;
					color: #fff;
				}
			}
			
			&:hover,
			&:first-of-type{
				&:hover{
					.main-event-day{
						background: #fff;
						border: 2px solid $dgrey;
						color: $dgrey;
					}
				}
			}
		}
	}
}

.event-full{

	.event-full-image{
		background: #fff;
		padding: 5px;
		margin-bottom: 10px;
		@include border-radius();

	}

	.event-full-meta{
		background: #fff;
		padding: 10px;
		text-align: center;
		@include border-radius();

		@include breakpoint(tablet){
			text-align: left;
		}

		.event-full-meta-head{
			display: table;
			width: 100%;
			padding: 15px;

			.event-full-meta-left{
				display: block;

				@include breakpoint(tablet){
					display: table-cell;
					vertical-align: middle;
					width: 60%;
				}

				h1{
					font-size: 18px;
					line-height: 22px;
					font-weight: 700;
					color: $main;
					margin: 0;
				}

				p.event-full-meta-date{
					color: $dgrey;
					font-weight: 700;
					font-size: 12px;
					margin: 0;
				}
			}

			.event-full-meta-right{
				display: block;

				@include breakpoint(tablet){
					display: table-cell;
					vertical-align: middle;
					width: 40%;
				}

				ul.event-info-icons{
					@extend .reset-list;
					display: block;
					width: 123px;
					margin: 0 auto;
					padding: 15px 0;
					
					@include breakpoint(tablet){
						display: inline;
						display: inline-block;
						float: right;

					}
					li{
						display: block;
						float: left;
						margin: 0 5px;

						@include breakpoint(tablet){
							margin: 0 0 0 5px;
						}

						.event-info-icon{
							display: block;
							width: 36px;
							height: 36px;
							background: url(images/theme/event_info_icons.png) top left no-repeat;
							color: #fff;
							font-size: 11px;
							line-height: 11px;
							font-weight: 700;
							padding: 12px 8px;
						}

						.event-info-icon-price{
							background: url(images/theme/event_info_icons.png) top left no-repeat;
						}

						.event-info-icon-dresscode{
							background: url(images/theme/event_info_icons.png) top left no-repeat;
							background-position: -41px 0;
						}

						.event-info-icon-age{
							background: url(images/theme/event_info_icons.png) top left no-repeat;
							background-position: -82px 0;
							text-align: center;

						}
					}
				}
			}
		}

		.event-full-meta-body{
			padding: 15px 15px;
			padding-top: 0;
		}

		.event-full-meta-cta{
			padding-top: 10px;
		}
	}
}

.half_column_last{
	.main-event{
		&:first-of-type{
			.main-event-day{
				background: $dgrey;
				border: 2px solid transparent;
				color: #fff;
			}
		}
	}
}