@import '../variables';

.footer{
	line-height: 22px;

	h3{
		font-size: 38px;
		line-height: 38px;
		color: $dgrey;
		font-weight: 300;
		margin-bottom: 65px;

		&:after{
			clear: both;
		}

		span.bold{
			color: $main;
			font-weight: 700;
		}
	}

	.social{

		.instagram{
			@extend .clearfix;
			position: relative;

			@include breakpoint(tablet-ls){
				float: left;
				width: 31%;
				margin-right: 3%;
			}

			ul#instafeed{
				list-style: none;
				margin: 0;
				padding: 0;

				li{
					width: 25%;
					float: left;
				}
			}

			.instagram-mask{
				position: absolute;
				z-index: 876;
				width: 92px;
				height: 34px;
				background: url(images/theme/instragramfeed_mask.png) no-repeat;
				top: 10px;
				right: 10px;

				a{
					display: block;
					width: 100%;
					height: 100%;
					font-size: 0;
				}
			}
		}

		.twitter{
			position: relative;
			padding-top: 50px;

			@include breakpoint(tablet-ls){
				float: left;
				width: 31%;
				padding-top: 0px;
				margin-right: 3%;
			}

			.twitter-mask{
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 60px;
				background: url(images/theme/twitter-mask.png) bottom left repeat-x;
			}

			.tweets{

				ul{
					@extend .reset-list;

					li{
						@extend .clearfix;
						margin-bottom: 10px;

						&:last-of-type{
							margin-bottom: 0;
						}

						&:first-of-type{
							.twittericon{
								background: url(images/theme/twitter-icon-first.jpg) top left no-repeat #F3F3F3;
							}
						}

						.twittericon{
							display: block;
							float: left;
							background: url(images/theme/twitter-icon.jpg) top left no-repeat #F3F3F3;
							width: 100%;

							.twittermsg{
								display: block;
								float: right;
								width: 100%;
								padding: 25px 25px 25px 140px;
								font-size: 12px;
							}
						}
					}
				}
			}
		}

		.facebook{

			#fb-root {
				display: none;
			}
			 
			/* To fill the container and nothing else */
			.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
				width: 100% !important;
			}

			position: relative;
			padding-top: 50px;
			overflow: hidden;

			@include breakpoint(tablet-ls){
				float: left;
				width: 31%;
				padding-top: 0px;
			}
		}
	}

	.newsletter{
		padding: 60px 0;
		background: url(images/theme/newsletter_bg.jpg) center bottom repeat-x;

		h3{
			margin-bottom: 0;
		}

		.newsletter-optin{
			@extend .clearfix;

			form{
				@extend .clearfix;
				padding-top: 50px;
			}

			input.big{
				font-size: 28px;
				font-weight: 300;
				padding: 20px;
			}

			input.email.big{
				width: 70%;
				float: left;
				background: #fff;
				border: 1px solid #ebebeb;
				color: $grey;

				@include breakpoint(tablet){
					width: 85%;
				}
			}

			input.submit.big{
				width: 30%;
				float: right;
				background: $main;
				color: #fff;
				border: 0;

				@include breakpoint(tablet){
					width: 15%;
				}
			}
		
			.subtile{
				padding-top: 40px;
				display: block;
				text-align: center;
			}
		}
	}

	.foot{
		@extend .clearfix;
		background: transparent;
		color: #fff;
		text-align: center;
		padding-bottom: 40px;

		@include breakpoint(mobile-ls){
			text-align: left;
			padding-bottom: 0;
		}

		a{
			color: #cacbd0;

			&:hover{
				color: #fff;
			}
		}

		h5{
			color: $main;
		}

		.foot-note{
			@extend .clearfix;
			color: #cacbd0;
			
			@include breakpoint(mobile-ls){
				float: left;
				width: 70%;
			}

			.foot-contact{
				margin-top: 40px;

				@include breakpoint(mobile-ls){
					width: 65%;
					float: left;
					margin-top: 0;
				}

				@include breakpoint(tablet){
					width: 40%;
					margin-right: 120px;
				}

				@include breakpoint(tablet-ls){
					width: 30%;
				}

				.foot-contacts{
					
					span.fixed_w{
						display: inline-block;
						width: 20px;

						@include breakpoint(tablet){
							width: 50px;
						}
					}

					p{
						margin: 0;
					}
				}
			}

			.foot-nav{
				margin-top: 40px;

				@include breakpoint(mobile-ls){
					width: 30%;
					float: left;
					margin-top: 0;
				}

				@include breakpoint(tablet){
					width: 30%;
				}

				ul{
					list-style: none;
					margin: 0;
					padding: 0;
				}
			}
		}

		.foot-logo{
			text-align: center;
			padding-top: 40px;
			
	
			@include breakpoint(mobile-ls){
				float: right;
				text-align: right;
				width: 25%;
				padding-top: 0;
			}

			img{
				margin: 0 auto;
			}
		}
	}
}