.header{
	@extend .clearfix;
	position: relative;
	background: #fff;

	@include breakpoint(tablet){
		width: 100%;
		top: 0;
		left: 0;
		z-index: 990;
		//@include box-shadow(0px, 1px, 1px, rgba(0, 0, 0, 0.1));
	}
	@include breakpoint(desktop){
		position: fixed;		
	}

	.container{
		position: relative;
	}

	.topnav{
		position: absolute;
		top: 0;
		right: 0;

		display: none;

		@include breakpoint(tablet){
			display: block;
		}

		a.member-area{
			position: relative;
			top: -4px;
			display: block;
			width: auto;
			padding: 10px;
			padding: 14px 10px 10px;
			background: $dgrey;
			color: #fff;
			text-transform: uppercase;
			@include border-radius(0, 0, 5px, 5px);
			
			&:hover{
				transition: 0.5s;
    			top: 0;
			}
		}
	}

	.logo{
		width: 150px;
		float: left;
		padding: 25px 0;

		@include breakpoint(mobile-ls){
			width: 200px;
		}
	}

	.sitenav{
		position: absolute;
		display: block;
		text-align: center;
		bottom: 0;
		right: 0;
		width: 100%;

		display: none;

		@include breakpoint(tablet){
			display: block;
		}

		ul{
			list-style: none;
			margin: 0;
			padding: 0;
			width: auto;
			float: right;

			li{
				list-style: none;
				display: block;
				float: left;
				margin: 0 0 0 10px;
				padding: 0;

				@include breakpoint(tablet-ls){
					margin: 0 0 0 20px;
				}

				a{
					display: block;
					float: left;
					padding: 0 5px 25px 5px;
					margin: 0;
					text-transform: uppercase;
					color: $dgrey;
					border-bottom: 5px solid #fff;
				
					&:hover{
						border-bottom: 5px solid $main;
					}
				}
			}

			li.current-menu-item,
			li.current_page_item{
				a{
					border-bottom: 5px solid $main;
				}
			}
		}
	}

	.sitenav-resp{
		background: #fff;

		ul.sitenav-resp-list{
			@extend .reset-list;

			li{
				padding: 15px;
				border-bottom: 1px solid $lgrey;
				a{
					font-size: 18px;
					font-weight: 500;
				}
			}
		}
	}

	.resp_nav_btn{
		position: absolute;
		top: 50%;
		right: 20px;
		width: 54px;
		height: 54px;
		margin-top: -27px;

		@include breakpoint(mobile-ls){
			right: 0;
		}
		
		@include breakpoint(tablet){
			display: none;
		}

		a{
			position: absolute !important;
			//top: inherit !important;
			//right: inherit !important;
			@include border-radius();
			display: block;
			width: 54px;
			height: 54px;
			background: url(images/theme/resp_nav.png) center center no-repeat #fff;
		}
	}
}

#menu-site-nav-1{

	@include breakpoint(tablet){
		display: none;
	}
}