.main-social{
	text-align: center;
	
	.social-media{
		@extend .reset-list;
		display: inline-block;
		margin: 0 auto;
		padding: 60px 0;

		li{
			display: block;
			float: left;
			display: inline-block;
			margin: 0 7px;

			a{
				display: block;
				display: inline-block;
				position: relative;
				width: 40px;
				height: 40px;
				font-size: 0;
				overflow: hidden;
			}
		}

		li.fb{
			a{
				background: url(images/theme/sprite_social.png) top left no-repeat;
				background-position: 0 0;
			}
			span{
				position: absolute;
				top: 0; left: 0; bottom: 0; right: 0;
				background: url(images/theme/sprite_social.png) top left no-repeat;
				background-position: -45px 0;
			}
		}

		li.tw{
			a{
				background: url(images/theme/sprite_social.png) top left no-repeat;
				background-position: 0 -41px;
			}
			span{
				position: absolute;
				top: 0; left: 0; bottom: 0; right: 0;
				background: url(images/theme/sprite_social.png) top left no-repeat;
				background-position: -45px -41px;
			}
		}

		li.yt{
			a{
				background: url(images/theme/sprite_social.png) top left no-repeat;
				background-position: 0 -82px;
			}
			span{
				position: absolute;
				top: 0; left: 0; bottom: 0; right: 0;
				background: url(images/theme/sprite_social.png) top left no-repeat;
				background-position: -45px -82px;
			}
		}

		li.ig{
			a{
				background: url(images/theme/sprite_social.png) top left no-repeat;
				background-position: 0 -123px;
			}
			span{
				position: absolute;
				top: 0; left: 0; bottom: 0; right: 0;
				background: url(images/theme/sprite_social.png) top left no-repeat;
				background-position: -45px -123px;
			}
		}
	}
}

.main-gallery, .side-gallery{
	width: 100%;
	
	
	.ngg-galleryoverview{

		.ngg-gallery-thumbnail-box{

			margin: 0;

			img{
				background: none;
				border: none;
				margin: 0;
				padding: 0;
				display: block;
			}
		}
	}

	ul.main-gallery-grid-full, ul.side-gallery-grid-full{

		li{
			position: relative;
		}

		.main-gallery-overlay{
			position: absolute;
			top: 0;
			left: 0;
			display: none;
			width: 100%;
			height: 100%;
			background: url(images/theme/gallery_hover.png) center center no-repeat;
		}
	}
}