ul.gallery-grid{
	@extend .reset-list;

	li{
		width: 50%;
		float: left;
		height: 80px;
		overflow: hidden;

		@include breakpoint(mobile-ls){
			width: 25%;
		}

		@include breakpoint(tablet){
			height: 100px;
		}

		.main-gallery-item{
			display: table;

			.main-gallery-mask{
				display: table-cell;
				vertical-align: middle;
				background: #fff;
				background: rgba(255, 255, 255, 0.2);

				.main-gallery-inner{
				
					span.day{

					}

					span.month{

					}

					span.year{

					}
				}
			}

			.main-gallery-thumb{
				display: table-cell;
				vertical-align: middle;
			}
		}

		&:nth-child(4n+1){
			clear: both;
		}
	}
}

.grid-gallery-media{
	@extend .gallery-grid;

	li{
		position: relative;
		height: 135px !important;
		overflow: hidden;

		@include breakpoint(mobile-ls){
			height: 100px !important;
			width: 25%;
		}

		@include breakpoint(tablet){
			height: 84px !important;
		}

		@include breakpoint(tablet-ls){
			height: 111px !important;
		}

		@include breakpoint(desktop){
			height: 132px !important;
		}

		.media-mask{
			display: table;
			display: none;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba(255, 255, 255, 0.8);
			text-align: center;

			.media-mask-inner{
				display: table-cell;
				vertical-align: middle;
				width: 100%;
				text-align: center;
			}

			.day{
				text-align: center;
				background: $dgrey;
				border: 2px solid transparent;
				font-size: 28px;
				line-height: 32px;
				font-weight: 800;
				padding: 12px;
				color: #fff;
				display: inline-block;
				@include border-radius();
				@include transition( 0.2s, ease-in-out, all);
			}

			.month{
				font-weight: 700;
				font-size: 20px;
				text-align: center;
			}

			.year{
				font-weight: 300;
				font-size: 13px;
				text-align: center;
			}
		}
	}
}