.reservations-content{

	.reservations-thumb{
		position:relative;
		padding: 5px;
		background: #fff;
		@include border-radius();
		ul {
			display:inline;
			position:absolute;
			list-style: none;
			top:-4px;
				left:100%;
				margin-left:-185px;
			@include breakpoint(mobile-ls){
				top:4%;
				left:100%;
				margin-left:-220px;
			}
			@include breakpoint(tablet){
				top:-5px;
				left:100%;
				margin-left:-185px;
			}
			@include breakpoint(tablet-ls){
				top:7px;
				left:100%;
				margin-left:-220px;
			}
			@include breakpoint(desktop){
				top:20px;
				left:100%;
				margin-left:-220px;
			}
			li {
				text-align: right;
				text-transform: uppercase;
				a {
					font-weight: 500;
					margin-bottom: 10px;
					color: #fff;
					font-size:1em;
					@include breakpoint(mobile-ls){
						font-size:1.3em;
					}
					@include breakpoint(tablet){
						font-size:1em;
					}
					@include breakpoint(tablet-ls){
						font-size:1.3em;
					}
				}
				.active {
					color: #d5004b !important;
				}
			}
		}
	}

	.reservations-container,
	.reservations-container-no_margin_top{
		position: relative;
		margin-top: 10px;
		padding: 10px;
		background: #fff;
		@include border-radius();

		.reservation-total{
			position: absolute;
			top: 30px;
			right: 30px;
			padding: 5px 10px;
			background: $dgrey;
			color: #fff;
			font-weight: 700;
			@include border-radius();
		}

		.reservations-container-inner{
			padding: 20px;

			select{
				background: #fff;
				border: 1px solid #cccccc;
				padding: 10px;
				@include border-radius();
			}

			ul{
				margin: 0;
				padding: 0;
				list-style-position: inside;
			}

			ul.form-list{
				@extend .reset-list;
				margin-bottom: 30px;

				li{
					@extend .clearfix;
					margin-bottom: 5px;

					label{
						display: block;
					}

					input{
						width: 100%;
					}
				}

				.half_column,
				.half_column_last,
				.half_column_left,
				.half_column_right{
					display: block;
					width: 100%;

				    @include breakpoint(desktop){
				        width: 48%;
				        float: left;
				    }
				}

				.half_column_last,
				.half_column_right{
					display: block;
					width: 100%;
				    margin-top: 10px;

				    @include breakpoint(desktop){
				        float: right;
				        width: 48%;
				        margin-top: 0;
				    }
				}

				.one_fourth_left,
				.tree_fourth_right{
					display: block;
					width: 100%;

				    @include breakpoint(desktop){
				        float: left;
				        width: 23%;
				        margin-right: 4%;
				    }
				}

				.three_fourth_right{
					display: block;
					width: 100%;

				    @include breakpoint(desktop){
				        float: right;
				        width: 73%;
				        margin-right: 0;
				    }
				}

				.one_fourth_right,
				.tree_fourth_left{
					display: block;
					width: 100%;

				    @include breakpoint(desktop){
				        float: right;
				        width: 23%;
				        margin-right: 0%;
				    }
				}

				.three_fourth_left{
					display: block;
					width: 100%;

				    @include breakpoint(desktop){
				        float: left;
				        width: 73%;
				        margin-right: 4%;
				    }
				}
			}

			.reservations-options{
				padding-top: 30px;

				ul.reservations1-options-list{
					@extend .reset-list;
					margin-bottom: 30px;

					li{
						padding: 15px 20px;
						background: #ebebeb;
						margin-bottom: 2px;
						font-weight: 500;
						@include transition(0.2s, ease-in-out, all);

						&:hover{
							cursor: pointer;
							background: #f5f5f5;
						}

						span.price{
							float: right;
							color: $main;
							font-weight: 700;
						}

						input.res1_radiobtn{
							display: none;
						}

						&:focus{
							background: #fff;
						}

						
					}

					li:nth-child(2n+1){
						background: #dfdfdf;

						&:hover{
							background: #f5f5f5;
						}

						&:focus{
							background: #fff;
						}
					}
				}

				ul.reservations2-options-list,
				ul.reservations3-options-list{
					@extend .reset-list;

					li{
						
						margin-bottom: 5px;	

						#reservations-drinks1{
							margin-bottom: 5px;
						}					
					}

					ul.dd-options{
						li{
							background: none;
						}
					}
				}

				input.btn{
					@include transition( 0.2s, ease-in-out, all);

					&:hover{
						cursor: pointer;
					}
				}
			}
		}
	}

	.reservations-container-no_margin_top{
		margin-top: 0;
	}

	.res2_container_drinks{
		position: relative;

		.res2_container_drinks_rest{
			position: absolute;
			top: 0px;
			right: 0px;
			padding: 5px 10px;
			background: $main;
			color: #fff;
			font-weight: 700;
			@include border-radius();
		}
	}
}

#drinks_menu{
	padding-top: 20px;

	.drinks_menu_title{
		@extend .btn;
		@extend .btn-wide;
		background-color: #535353;
		color: #fff !important;
		text-align: left;
		margin-bottom: 6px;
		text-transform: none;
		@include transition( 0.2s, ease-in-out, all );

		&:hover{
			cursor: pointer;
		}
	}

	.drinks_menu_container{
		margin-bottom: 6px;
	}

	select{		
		background: url(images/theme/select-dropdown.png) right 16px center no-repeat, white;
		border: 1px solid #cccccc;
		padding: 10px;
		@include border-radius();
	}

}

#res2_target{
	select{
		display: block;
		width: 100%;
		margin-bottom: 10px;
	}
}

input.btn-wide{
	@include transition( 0.2s, ease-in-out, all );
	&:hover{
		cursor: pointer;
		background: #3E3E3E;
	}
}

.res_errors{
	padding-bottom: 20px;
	font-style: italic;
	color: red;
}