.main-event{

	&.ilfp-event{

		.main-event-meta{
			border-left: 2px solid $ilfp;
		}

		a.rsvp{
			background-color: $ilfp !important;
		}

		.current-indicator{
			background: url(images/theme/event_current_arrow.png) center center no-repeat $ilfp;
		}

		// &:hover{
		// 		.main-event-day{
		// 		background-color: $ilfp;
		// 		border-color: $ilfp;
		// 	}
		// }

		&:first-of-type{
			&:hover{
				.main-event-day{
					background-color: $ilfp;
					border-color: $ilfp;
				}
			}
		}
	}

	&.ls-event{

		.main-event-meta{
			border-left: 2px solid $ls;
		}

		a.rsvp{
			background-color: $ls !important;
		}

		.current-indicator{
			background: url(images/theme/event_current_arrow.png) center center no-repeat $ls;
		}

		// &:hover{
		// 		.main-event-day{
		// 		background-color: $ls;
		// 		border-color: $ls;
		// 	}
		// }

		&:first-of-type{
			&:hover{
				.main-event-day{
					background-color: $ls;
					border-color: $ls;
				}
			}
		}
	}

	&.aw-event{

		.main-event-meta{
			border-left: 2px solid $aw;
		}

		a.rsvp{
			background-color: $aw !important;
		}

		.current-indicator{
			background: url(images/theme/event_current_arrow.png) center center no-repeat $aw;
		}

		// &:hover{
		// 		.main-event-day{
		// 		background-color: $aw;
		// 		border-color: $aw;
		// 	}
		// }

		&:first-of-type{
			&:hover{
				.main-event-day{
					background-color: $aw;
					border-color: $aw;
				}
			}
		}
	}

	&.l3-event{

		.main-event-meta{
			border-left: 2px solid $l3;
		}

		a.rsvp{
			background-color: $l3 !important;
		}

		.current-indicator{
			background: url(images/theme/event_current_arrow.png) center center no-repeat $l3;
		}

		// &:hover{
		// 		.main-event-day{
		// 		background-color: $l3;
		// 		border-color: $l3;
		// 	}
		// }

		&:first-of-type{
			&:hover{
				.main-event-day{
					background-color: $l3;
					border-color: $l3;
				}
			}
		}
	}
}

/* ILFP - I LOVE FEESTPALEIS */
body.term-i-love-feestpaleis{
	background: url(images/theme/bg_ilfp.jpg) center center no-repeat #0c0f1e;
	background-attachment: fixed;
	background-size: auto 100%;

	.sitenav{

		ul{

			li{
				a:hover{
					border-bottom: 5px solid $ilfp;
				}
			}
			li.current-menu-item,
			li.current_page_item{
				a{
					border-bottom: 5px solid $ilfp;
				}
			}
		}
	}

	.concept-branding{
		@extend .ilfp;
	}

	.concept-main{
		
		.concept-main-inner{

			h4, strong{
				color: $ilfp;
			}
		}
	}
}




/* LS - LOVELY SUNDAYS */
body.term-lovely-sundays{
	background: url(images/theme/bg_ls.jpg) center center no-repeat #0c0f1e;
	background-attachment: fixed;
	background-size: auto 100%;

	.sitenav{

		ul{

			li{
				a:hover{
					border-bottom: 5px solid $ls;
				}
			}
			li.current-menu-item,
			li.current_page_item{
				a{
					border-bottom: 5px solid $ls;
				}
			}
		}
	}

	.concept-branding{
		@extend .ls;
	}

	.concept-main{
		
		.concept-main-inner{

			h4, strong{
				color: $ls;
			}
		}
	}
}


/* AW - AFTER WORK */
body.term-after-work{
	background: url(images/theme/bg_aw.jpg) center center no-repeat #0c0f1e;
	background-attachment: fixed;
	background-size: auto 100%;

	.sitenav{

		ul{

			li{
				a:hover{
					border-bottom: 5px solid $aw;
				}
			}
			li.current-menu-item,
			li.current_page_item{
				a{
					border-bottom: 5px solid $aw;
				}
			}
		}
	}

	.concept-branding{
		@extend .aw;
	}

	.concept-main{
		
		.concept-main-inner{

			h4, strong{
				color: $aw;
			}
		}
	}
}

/* L3 - LEVEL 3 */
body.term-level-3{
	background: url(images/theme/bg_l3.jpg) center center no-repeat #0c0f1e;
	background-attachment: fixed;
	background-size: auto 100%;

	.sitenav{

		ul{

			li{
				a:hover{
					border-bottom: 5px solid $l3;
				}
			}
			li.current-menu-item,
			li.current_page_item{
				a{
					border-bottom: 5px solid $l3;
				}
			}
		}
	}

	.concept-branding{
		@extend .l3;
	}

	.concept-main{
		
		.concept-main-inner{

			h4, strong{
				color: $l3;
			}
		}
	}
}