// ul#adminmenu{

// 	li#toplevel_page_woocommerce{

// 		.wp-submenu{

// 			li:nth-child(1){

// 			}

// 			li:nth-child(2){
// 			}

// 			li:nth-child(3){
// 				display: none !important;
// 			}

// 			li:nth-child(4){
// 			}

// 			li:nth-child(5){
// 				display: none !important;
// 			}

// 			li:nth-child(6){
// 				display: none !important;
// 			}
// 		}
// 	}

// 	li#menu-posts-product{

// 		.wp-submenu{


// 			li:nth-child(1){
				
// 			}

// 			li:nth-child(2){
// 			}

// 			li:nth-child(3){
// 				//display: none !important;
// 			}

// 			li:nth-child(4){
// 			}

// 			li:nth-child(5){
// 				display: none !important;
// 			}

// 			li:nth-child(6){
// 				display: none !important;
// 			}

// 			li:nth-child(7){
// 				display: none !important;
// 			}
// 		}
// 	}
// }