/* ------- Fluid Columns ------- */
.one_half{ 

	@include breakpoint(tablet){
		width:48%;
	}
}
.one_third{ 
	
	@include breakpoint(tablet){
		width:30.66%;
	}
}

.two_third{
	
	@include breakpoint(tablet){
		width:65.33%;
	}
}

.one_fourth{
	
	@include breakpoint(tablet){
		width:22%;	
	}
}

.three_fourth{
	
	@include breakpoint(tablet){
		width:74%;
	}
}

.one_fifth{
	
	@include breakpoint(tablet){
		width:16.8%;
	}
}

.two_fifth{
	
	@include breakpoint(tablet){
		width:37.6%;
	}
}

.three_fifth{
	
	@include breakpoint(tablet){
		width:58.4%;
	}
}

.four_fifth{
	
	@include breakpoint(tablet){
		width:67.2%;
	}
}

.one_sixth{
	
	@include breakpoint(tablet){
		width:13.33%;
	}
}

.five_sixth{
	
	@include breakpoint(tablet){
		width:82.67%;
	}
}

.one_half,
.one_third,
.two_third,
.three_fourth,
.one_fourth,
.one_fifth,
.two_fifth,
.three_fifth,
.four_fifth,
.one_sixth,
.five_sixth{
	position:relative;
	margin-right:4%;
	float:left;
}

.last{
	margin-right:0 !important;
	clear:right;
}

.clearboth{
	clear:both;
	display:block;
	font-size:0;
	height:0;
	line-height:0;
	width:100%;
}