/* ========================= GRID ========================= */

.container{
    @extend .clearfix;
    margin: 0 auto;
    height: 100%;
    min-height: 100%;
    padding: 0 20px;

    @include breakpoint(mobile-ls){
        padding: 0;
        width: 90%;
    }

    @include breakpoint(tablet){
        width: 728px;
    }

    @include breakpoint(tablet-ls){
        width: 960px;
    }

    @include breakpoint(desktop){
        width: 1154px;
    }

    @include breakpoint(desktop-wide){
    }
}

.container-padding{
    padding: 20px;

    @include breakpoint(tablet){
        padding: 30px 0;
    }

    @include breakpoint(desktop){
        padding: 50px 0;
    }

}

.container-padding-top{
    padding: 20px 20px 0;

    @include breakpoint(mobile-ls){
        padding: 20px 0 0;
    }

    @include breakpoint(tablet){
        padding: 30px 0 0;
    }

    @include breakpoint(desktop){
        padding: 50px 0 0;
    }

}

.row{
    @extend .clearfix;
}

.one_full_column{
    background: #fff;
    padding: 10px;
    @include border-radius();

    .one_column_inner{
        padding: 20px;
        img {
            width:auto;
            display:inline;
        }
    }
}

.half_column,
.half_column_last,
.half_column_left,
.half_column_right{

    @include breakpoint(tablet){
        width: 48%;
        float: left;
    }
}

.half_column_last,
.half_column_right{

    margin-top: 10px;

    @include breakpoint(tablet){
        float: right;
        margin-top: 0;
    }
}

.one_fourth_left,
.tree_fourth_right{

    @include breakpoint(tablet){
        float: left;
        width: 23%;
        margin-right: 4%;
    }
}

.three_fourth_right{

    @include breakpoint(tablet){
        float: right;
        width: 73%;
        margin-right: 0;
    }
}

.one_fourth_right,
.tree_fourth_left{

    @include breakpoint(tablet){
        float: right;
        width: 23%;
        margin-right: 0%;
    }
}

.three_fourth_left{

    @include breakpoint(tablet){
        float: left;
        width: 73%;
        margin-right: 4%;
    }
}

.blocky{
    @extend .clearfix;
    padding-bottom: 30px;
}

/* ========================= TYPOGRAPHY ========================= */

.subtile{
    font-size: 16px;
    color: $grey;
    font-style: italic;
}

/* ========================= GLOBAL ========================= */

.clearfix {
    zoom:1;
    &:before, &:after {
        content: "";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

.hideme{
    display: none;
}

.btn{
    background: $dgrey;
    padding: 10px 15px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
    @include border-radius();
    border: 3px solid transparent;

    &:hover{
        border-color: $dgrey;
        background: #fff;
        color: $dgrey;
    }
}

.btn-black{
    background: #000;
}

.btn-no-border{
    border: 0;

    padding: 18px;
    &:hover{
        border: none;
    }
}

.btn-wide{
    clear: both;
    display: block;
    width: 100%;

    &:hover{
        background: #3e3e3e;
        border-color: #3e3e3e;
        color: #fff;
    }
}

.no-resp{
    width: auto;
    max-width: auto;
    height: auto;
}

.reset-list{
    list-style: none;
    margin: 0;
    padding: 0;

    li{
        margin: 0;
        padding: 0;
    }
}

.wrappy-white{
    background: #fff;
}

.color-main{
    color: $main !important;
}

.ilfp{
    color: #fff !important;
    background: rgb(69,157,225) !important; /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(69,157,225,1) 0%, rgba(36,93,174,1) 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(69,157,225,1)), color-stop(100%,rgba(36,93,174,1))) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(69,157,225,1) 0%,rgba(36,93,174,1) 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(69,157,225,1) 0%,rgba(36,93,174,1) 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(69,157,225,1) 0%,rgba(36,93,174,1) 100%) !important; /* IE10+ */
    background: linear-gradient(to right,  rgba(69,157,225,1) 0%,rgba(36,93,174,1) 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#459de1', endColorstr='#245dae',GradientType=1 ) !important; /* IE6-9 */
}

.ls{
    color: #fff !important;
    background: rgb(227,100,0); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(227,100,0,1) 0%, rgba(200,62,9,1) 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(227,100,0,1)), color-stop(100%,rgba(200,62,9,1))) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(227,100,0,1) 0%,rgba(200,62,9,1) 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(227,100,0,1) 0%,rgba(200,62,9,1) 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(227,100,0,1) 0%,rgba(200,62,9,1) 100%) !important; /* IE10+ */
    background: linear-gradient(to right,  rgba(227,100,0,1) 0%,rgba(200,62,9,1) 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e36400', endColorstr='#c83e09',GradientType=1 ) !important; /* IE6-9 */
}

.aw{
    color: #fff !important;
    background: rgb(140,212,0); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(140,212,0,1) 0%, rgba(105,193,0,1) 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(140,212,0,1)), color-stop(100%,rgba(105,193,0,1))) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(140,212,0,1) 0%,rgba(105,193,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(140,212,0,1) 0%,rgba(105,193,0,1) 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(140,212,0,1) 0%,rgba(105,193,0,1) 100%) !important; /* IE10+ */
    background: linear-gradient(to right,  rgba(140,212,0,1) 0%,rgba(105,193,0,1) 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cd400', endColorstr='#69c100',GradientType=1 ) !important; /* IE6-9 */
}

.l3{
    color: #fff !important;
    background: rgb(219,0,94); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(219,0,94,1) 0%, rgba(202,0,59,1) 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(219,0,94,1)), color-stop(100%,rgba(202,0,59,1))) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(219,0,94,1) 0%,rgba(202,0,59,1) 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(219,0,94,1) 0%,rgba(202,0,59,1) 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(219,0,94,1) 0%,rgba(202,0,59,1) 100%) !important; /* IE10+ */
    background: linear-gradient(to right,  rgba(219,0,94,1) 0%,rgba(202,0,59,1) 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db005e', endColorstr='#ca003b',GradientType=1 ) !important; /* IE6-9 */
}

ul.main-gallery-grid-full{
    @extend .reset-list;

    li{
        width: 33.333%;
        height: 95px;
        float: left;
        overflow: hidden;

        @include breakpoint(mobile-ls){
            width: 25%;
            //height: 150px;
        }

        @include breakpoint(tablet){
            height: 185px;
        }

        @include breakpoint(tablet-ls){
            width: 12.5%;
            height: 120px;
        }

        @include breakpoint(desktop){
            height: 145px;
        }

        &:last-of-type{
            display: none;

            @include breakpoint(mobile-ls){
                display: block;
            }
        }

        a{
            img{
                width: 105%;
                max-width: 105%;
            }
        }
    }
}

ul.side-gallery-grid-full{
    @extend .reset-list;

    li{
        width: 33.333%;
        height: 95px;
        float: left;
        overflow: hidden;
        &:nth-last-of-type(3), &:nth-last-of-type(2), &:last-of-type{
            display:none !important;
        }

        @include breakpoint(mobile-ls){
            width: 25%;
            &:nth-last-of-type(3), &:nth-last-of-type(2), &:last-of-type{
                display:block !important;
            }
        }

        @include breakpoint(tablet){
            height: 87px;        }

        @include breakpoint(tablet-ls){
            width: 20%;
            height:92px;
            &:nth-last-of-type(2), &:last-of-type{
                display:none !important;
            }
        }

        @include breakpoint(desktop){
            height: 110px;
            width:110px;
        }

        &:last-of-type{
            display: none;

            @include breakpoint(mobile-ls){
                display: block;
            }
        }

        a{
            img{
                width: 105%;
                max-width: 105%;
            }
        }
    }
}

.fp-styled-form-element{
    width: 100%;
    display: block;
    border: 1px solid $grey;
    background: #fff;
    padding: 15px 20px;
    font-size: 13px;
    @include border-radius();
}