/*
Theme Name: Feestpaleis
*/

/* ========================= INIT ========================= */

@import "reset",
		"variables",
		"mixins",
		"extends",

		"ui/header",
		"ui/footer",
		"ui/home",
		"ui/events",
		"ui/concepts",
		"ui/themes",
		"ui/media",
		"ui/contact",
		"ui/reservations",
		"ui/venue"
		;

/* ========================= TYPOGRAPHY ========================= */

html, body{
	font-size: 100%;
	line-height: 100%;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 22px;
	background: url(images/theme/bg_ilfp.jpg) center center no-repeat #0c0f1e;
	background-attachment: fixed;
	background-size: auto 100%;
	
	@include breakpoint(desktop){
		padding-top: 150px;
		background: url(images/theme/bg_ilfp.jpg) center 150px no-repeat #0c0f1e;
		background-attachment: fixed;
		background-size: auto 100%;
	}
}

a{
	color: $dgrey;
	text-decoration: none;
	@include transition(all, 0.2s, ease-in-out);

	&:hover{
		
	}
}

strong{
	font-weight: 800;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 700;
	margin-bottom: 10px;
	color: $main;
}

h1{
	font-size: 18px;
	line-height: 18px;
}

h2{
	font-size: 18px;
	line-height: 18px;
}

h3{
	font-size: 18px;
	line-height: 18px;
}

h4{
	font-size: 18px;
	line-height: 20px;
}

h5{
	font-size: 16px;
	line-height: 18px;
}

h6{
	font-size: 14px;
	line-height: 16px;
}

p{
	margin-bottom: 15px;

	&:last-of-type{
		margin-bottom: 0;
	}

	&:only-of-type{
		margin-bottom: 15px;
	}
}

/* ========================= GLOBAL ========================= */

*, *:after, *:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body{
	height: 100%;
	min-height: 100%;
}

html, input{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

body{
	color: $dgrey;
}

img{
	width: 100%;
	max-width: 100%;
	height: auto;
	display: block;
}

img.fancybox-image{
	@include border-radius();
}

img.wp-smiley{
	width: auto;
	max-width: auto;
	height: auto;
	display: inline;
	display: inline-block;
	margin-bottom: -2px;
}


select{
	background: #fff;
	border: 1px solid #cccccc;
	padding: 10px 30px 10px 10px;
	@include border-radius();
	-webkit-appearance:none;
	background: url(images/theme/select-dropdown.png) right 16px center no-repeat, white;
}

.wpcf7-form{
	padding-top: 20px;
	img{
		width: auto;
		max-width: auto;
		height: auto;
	}
}
.hasDatepicker {
	background: url(images/theme/select-dropdown.png) right 16px center no-repeat, white;
}

.form-wrappy{
	@extend .clearfix;
	margin-bottom: 5px;

	&:last-of-type{
		margin-bottom: 0;
	}
}

a.fancybox{
	display: block;
	width: 100%;
}

#tooltip{
	text-align: center;
	color: #fff;
	background: $dgrey;
	position: absolute;
	z-index: 100;
	padding: 15px;
	@include border-radius();
}
 
#tooltip:after /* triangle decoration */{
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #111;
	content: '';
	position: absolute;
	left: 50%;
	bottom: -10px;
	margin-left: -10px;
}
 
#tooltip.top:after{
	border-top-color: transparent;
	border-bottom: 10px solid #111;
	top: -20px;
	bottom: auto;
}
 
#tooltip.left:after{
	left: 10px;
	margin: 0;
}

#tooltip.right:after{
	right: 10px;
	left: auto;
	margin: 0;
}


/* ### ddSlick tweaks ### */

.drinks_menu_container{
	.dd-container{
		&:last-of-type{
			.dd-selected-description{
				display: none !important;
			}
		}
	}
}

.dd-container{
	margin-bottom: 5px;

	&:last-of-type{
		margin-bottom: 0;
	}
}

.dd-selected-text{
	display: inline !important;
	display: inline-block !important;
}

.dd-desc{
	display: inline !important;
	display: inline-block !important;
	margin-left: 10px !important;
	vertical-align: top;
	line-height: 1.5em !important;
}

/* ### end ddSlick tweaks ### */

.btn-submit{
	&:hover{
		cursor: pointer;
	}
}

#ui-datepicker-div{
	display: none;
}

.mc4wp-alert {
	position:absolute;
	margin-top:-35px;
	font-size:1.5em;
}